# –ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –∑–∞–¥–∞—á–∏

–ù–∞ —Å–µ–≥–æ–¥–Ω—è—à–Ω–∏–π –¥–µ–Ω—å –º–∞—à–∏–Ω–Ω–æ–µ –æ–±—É—á–µ–Ω–∏–µ —Ä–µ—à–∞–µ—Ç –∞–±—Å–æ–ª—é—Ç–Ω–æ —Ä–∞–∑–Ω—ã–µ –∑–∞–¥–∞—á–∏ –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏ –≤–æ –≤—Å–µ—Ö –æ–±–ª–∞—Å—Ç—è—Ö –Ω–∞—à–µ–π –∂–∏–∑–Ω–∏. –ü–ª–∞—Ç—Ñ–æ—Ä–º–∞ DataDriven –æ—Ä–≥–∞–Ω–∏–∑–æ–≤—ã–≤–∞–µ—Ç –∫–æ–Ω—Ç–µ—Å—Ç—ã –ø–æ –º–∞—à–∏–Ω–Ω–æ–º—É –æ–±—É—á–µ–Ω–∏—é –¥–ª—è —Ä–µ—à–µ–Ω–∏—è —Ä–µ–∞–ª—å–Ω—ã—Ö –∑–∞–¥–∞—á –æ–±—â–µ—Å—Ç–≤–µ–Ω–Ω—ã—Ö –∏ –Ω–µ–∫–æ–º–º–µ—Ä—á–µ—Å–∫–∏—Ö –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–π –ø–æ –≤—Å–µ–º—É –º–∏—Ä—É, –ø—Ä–∏–º–µ–Ω—è—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –ø–æ–±–µ–¥–∏—Ç–µ–ª–µ–π. –î–∞–Ω–Ω—ã–π –ø—Ä–æ–µ–∫—Ç –ø—Ä–∏–∑–≤–∞–Ω —Ä–µ—à–∏—Ç—å –ø—Ä–æ–±–ª–µ–º—ã –≤–æ–¥–æ—Å–Ω–∞–±–∂–µ–Ω–∏—è –≤ —Å—Ç—Ä–∞–Ω–µ –¢–∞–Ω–∑–∞–Ω–∏—è –≤ –í–æ—Å—Ç–æ—á–Ω–æ–π –ê—Ñ—Ä–∏–∫–µ. –í–æ–¥–∞ –≤ –¢–∞–Ω–∑–∞–Ω–∏–∏ –¥–æ–±—ã–≤–∞–µ—Ç—Å—è —Å –ø–æ–º–æ—â—å—é –≤–æ–¥–æ–∫–∞—á–µ–∫, –∏ –æ–Ω–∏ —á–∞—Å—Ç–æ –≤—ã—Ö–æ–¥—è—Ç –∏–∑ —Å—Ç—Ä–æ—è, –æ—Å—Ç–∞–≤–ª—è—è –ø–æ—Å–µ–ª–µ–Ω–∏—è –±–µ–∑ –≤–æ–¥—ã. –ó–∞–¥–∞—á–∞ —É—á–∞—Å—Ç–Ω–∏–∫–æ–≤ - –ø–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º –∏ —Å—Ç–∞—Ç—É—Å—É –Ω–µ–∫–æ—Ç–æ—Ä–æ–≥–æ –º–Ω–æ–∂–µ—Å—Ç–≤–∞ –≤–æ–¥–æ–∫–∞—á–µ–∫ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –ø–æ–ª–æ–º–∫–∏ –∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç—å –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏—è –¥—Ä—É–≥–∏—Ö –≤–æ–¥–æ–∫–∞—á–µ–∫. 

–í –¥–∞–Ω–Ω–æ–π –∑–∞–¥–∞—á–µ –º—ã –Ω–µ —Ç–æ–ª—å–∫–æ —Å–¥–µ–ª–∞–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –æ —Å–æ—Å—Ç–æ—è–Ω–∏–∏ –≤–æ–¥–æ–∫–∞—á–µ–∫, –Ω–æ –∏ –æ—Ü–µ–Ω–∏–º, –∫–∞–∫ –∫–∞—á–µ—Å—Ç–≤–æ –¥–∞–Ω–Ω—ã—Ö –≤–ª–∏—è–µ—Ç –Ω–∞ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ.

–°—Å—ã–ª–∫–∞ –Ω–∞ –∫–æ–Ω—Ç–µ—Å—Ç: https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/

# –û–ø–∏—Å–∞–Ω–∏–µ –º–µ—Ç–æ–¥–∞

–ó–∞–¥–∞—á–∞ –±—É–¥–µ—Ç —Ä–µ—à–∞—Ç—å—Å—è —Å –ø–æ–º–æ—â—å—é –≥—Ä–∞–¥–∏–µ–Ω—Ç–Ω–æ–≥–æ –±—É—Å—Ç–∏–Ω–≥–∞ - –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –æ–¥–Ω–æ–∏–º—ë–Ω–Ω—ã–π –º–µ—Ç–æ–¥ GradientBoosting –∏–∑ –ø–∞–∫–µ—Ç–∞ sklearn.

## –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∞—è —Å—É—Ç—å –∑–∞–¥–∞—á–∏

–ü—É—Å—Ç—å —É –Ω–∞—Å —Å—É—â–µ—Å—Ç–≤—É–µ—Ç –Ω–µ–∫–æ—Ç–æ—Ä—ã–π –Ω–∞–±–æ—Ä –ø–∞—Ä {(ùë•ùëñ,ùë¶ùëñ)}, i=1..n, –≥–¥–µ x - —ç—Ç–æ –ø—Ä–∏–∑–Ω–∞–∫, y - —Ü–µ–ª–µ–≤–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è. –ó–∞–¥–∞—á–∞ —Å–≤–æ–¥–∏—Ç—Å—è –∫ —Ç–æ–º—É, —á—Ç–æ–±—ã –≤–æ—Å—Å—Ç–∞–Ω–æ–≤–∏—Ç—å —Ñ—É–Ω–∫—Ü–∏—é y=F(x) - —Ñ—É–Ω–∫—Ü–∏—é, –º–∏–Ω–∏–º–∏–∑–∏—Ä—É—é—â—É—é —Ñ—É–Ω–∫—Ü–∏—é –ø–æ—Ç–µ—Ä—å L(x, F(x))

## –ì—Ä–∞–¥–∏–µ–Ω—Ç–Ω—ã–π –±—É—Å—Ç–∏–Ω–≥

–ú–µ—Ç–æ–¥ –≥—Ä–∞–¥–∏–µ–Ω—Ç–Ω–æ–≥–æ –±—É—Å—Ç–∏–Ω–≥–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç –ø–æ—Å—Ç—Ä–æ–∏—Ç—å –∏—Ç–æ–≥–æ–≤—É—é –º–æ–¥–µ–ª—å F(x) –∫–∞–∫ –≤–∑–≤–µ—à–µ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é —Å–ª–∞–±—ã—Ö –º–æ–¥–µ–ª–µ–π Fm(x), m = 1..M. –ö –∫–∞–∂–¥–æ–π –ø—Ä–µ–¥—ã–¥—É—â–µ–π —Å—É–º–º–µ Fm-1(x) –¥–æ–±–∞–≤–ª—è–µ—Ç—Å—è —á–∞—Å—Ç–Ω–∞—è –ø—Ä–æ–∏–∑–≤–æ–¥–Ω–∞—è –æ—Ç —Ñ—É–Ω–∫—Ü–∏–∏ L(x, Fm(x)) –ø–æ Fm(x) —Å–æ –∑–Ω–∞–∫–æ–º –º–∏–Ω—É—Å - –¥–ª—è –º–∏–Ω–∏–º–∏–∑–∞—Ü–∏–∏ –ø–æ—Ç–µ—Ä—å. –ù–∞–∑–æ–≤—ë–º —ç—Ç—É –ø—Ä–æ–∏–∑–≤–æ–¥–Ω—É—é hm(x). –ù–µ–æ–±—Ö–æ–¥–∏–º–æ —Ç–∞–∫–∂–µ, —á—Ç–æ–±—ã —Ñ—É–Ω–∫—Ü–∏—è L(x, Fm(x)) –±—ã–ª–∞ –¥–∏—Ñ—Ñ–µ—Ä–µ–Ω—Ü–∏—Ä—É–µ–º–∞ –≤ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –±–æ–ª—å—à–æ–π –æ–±–ª–∞—Å—Ç–∏.

In [1]:
import pandas as pd
import numpy as np
import math
from sklearn.ensemble import GradientBoostingClassifier

–î–ª—è —Ä–∞–±–æ—Ç—ã –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –±–∏–±–ª–∏–æ—Ç–µ–∫—É Pandas. –í—ã–≤–µ–¥–µ–º —Å–ª–µ–¥—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ:
TrainingX - –º–Ω–æ–∂–µ—Å—Ç–≤–æ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ - –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞—Ö –≤–æ–¥–æ–∫–∞—á–µ–∫
TrainingY - –º–Ω–æ–∂–µ—Å—Ç–≤–æ —Ü–µ–ª–µ–≤—ã—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö - –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ —Å–æ—Å—Ç–æ—è–Ω–∏–∏ –≤–æ–¥–æ–∫–∞—á–µ–∫
TestX - –º–Ω–æ–∂–µ—Å—Ç–≤–æ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ - –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞—Ö –≤–æ–¥–æ–∫–∞—á–µ–∫, –ø–æ –∫–æ—Ç–æ—Ä—ã–º —Ç—Ä–µ–±—É–µ—Ç—Å—è —Å–æ–≤–µ—Ä—à–∏—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ.

In [2]:
TrainingX = pd.read_csv('./contest/trainingsetvalues.csv', sep=',')
TrainingY = pd.read_csv('./contest/trainingsetlabels.csv', sep=',')
TestX = pd.read_csv('./contest/testsetvalues.csv', sep=',')

–ü–æ—Å–º–æ—Ç—Ä–∏–º, —á—Ç–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é—Ç –∏–∑ —Å–µ–±—è –¥–∞–Ω–Ω—ã–µ –æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞—Ö –≤–æ–¥–æ–∫–∞—á–µ–∫:

In [3]:
print(type(TrainingX))

<class 'pandas.core.frame.DataFrame'>

In [4]:
TrainingX.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

# –ü–æ—è—Å–Ω–µ–Ω–∏—è –∫ –¥–∞–Ω–Ω—ã–º

–ü–µ—Ä–µ—á–µ–Ω—å —Å—Ç–æ–ª–±—Ü–æ–≤ —Å —Ä–∞—Å—à–∏—Ñ—Ä–æ–≤–∫–æ–π:
amount_tsh - –û–±—â–∏–π —Å—Ç–∞—Ç–∏—á–µ—Å–∫–∏–π –Ω–∞–ø–æ—Ä (–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã, –¥–æ—Å—Ç—É–ø–Ω–æ–µ –¥–ª—è –≤–æ–¥–æ–∫–∞—á–∫–∏)
date_recorded - –î–∞—Ç–∞ –≤–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö
funder - –ö—Ç–æ —Ñ–∏–Ω–∞–Ω—Å–∏—Ä–æ–≤–∞–ª –∫–æ–ª–æ–¥–µ—Ü
gps_height - –ì–ª—É–±–∏–Ω–∞ —Å–∫–≤–∞–∂–∏–Ω—ã
installer - –û—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏—è, –≤—ã—Ä—ã–≤—à–∞—è —Å–∫–≤–∞–∂–∏–Ω—É
longitude - GPS-–∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞
latitude - GPS-–∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞
wpt_name - –ù–∞–∑–≤–∞–Ω–∏–µ –≤–æ–¥–æ–µ–º–∞, –µ—Å–ª–∏ –æ–Ω –µ—Å—Ç—å
num_private -
basin - –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–æ–¥–æ—ë–º–∞

subvillage - –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –Ω–∞—Å–µ–ª—ë–Ω–Ω–æ–≥–æ –ø—É–Ω–∫—Ç–∞
region - –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ —Ä–µ–≥–∏–æ–Ω–∞
region_code - –ö–æ–¥ —Ä–µ–≥–∏–æ–Ω–∞
district_code - –ö–æ–¥ —Ä–∞–π–æ–Ω–∞
lga - –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ
ward - –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ
population - –ù–∞—Å–µ–ª–µ–Ω–∏–µ –≤–æ–∫—Ä—É–≥ —Å–∫–≤–∞–∂–∏–Ω—ã
public_meeting - –í–µ—Ä–Ω–æ/–õ–æ–∂–Ω–æ
recorded_by - –ì—Ä—É–ø–ø–æ–≤–æ–π –≤–≤–æ–¥ —ç—Ç–æ–π —Å—Ç—Ä–æ–∫–∏ –¥–∞–Ω–Ω—ã—Ö
scheme_management - –ö—Ç–æ —É–ø—Ä–∞–≤–ª—è–µ—Ç –≤–æ–¥–æ–∫–∞—á–∫–æ–π
scheme_name - –ö—Ç–æ —É–ø—Ä–∞–≤–ª—è–µ—Ç –≤–æ–¥–æ–∫–∞—á–∫–æ–π
permit - –†–∞–∑—Ä–µ—à–µ–Ω –ª–∏ –≤–æ–¥–æ–∑–∞–±–æ—Ä
construction_year - –ì–æ–¥ –ø–æ—Å—Ç—Ä–æ–π–∫–∏ –≤–æ–¥–æ–∑–∞–±–æ—Ä–∞
extraction_type - –¢–∏–ø –¥–æ–±—ã—á–∏ –≤–æ–¥—ã, –∫–æ—Ç–æ—Ä—É—é –∏—Å–ø–æ–ª—å–∑—É–µ—Ç –≤–æ–¥–æ–Ω–∞–ø–æ—Ä–Ω–∞—è —Ç–æ—á–∫–∞
extraction_type_group - –ü–æ–¥–≤–∏–¥ –¥–æ–±—ã—á–∏ –≤–æ–¥—ã, –∫–æ—Ç–æ—Ä—É—é –∏—Å–ø–æ–ª—å–∑—É–µ—Ç –≤–æ–¥–æ–Ω–∞–ø–æ—Ä–Ω–∞—è —Ç–æ—á–∫–∞
extraction_type_class - –ö–ª–∞—Å—Å –¥–æ–±—ã—á–∏ –≤–æ–¥—ã, –∫–æ—Ç–æ—Ä—É—é –∏—Å–ø–æ–ª—å–∑—É–µ—Ç –≤–æ–¥–æ–Ω–∞–ø–æ—Ä–Ω–∞—è —Ç–æ—á–∫–∞
management - –ö–∞–∫ —É–ø—Ä–∞–≤–ª—è–µ—Ç—Å—è –≤–æ–¥–æ–∫–∞—á–∫–∞
management_group - –ö–∞–∫ —É–ø—Ä–∞–≤–ª—è–µ—Ç—Å—è –≤–æ–¥–æ–∫–∞—á–∫–∞
payment - –°–∫–æ–ª—å–∫–æ —Å—Ç–æ–∏—Ç –≤–æ–¥–∞
payment_type - –°–∫–æ–ª—å–∫–æ —Å—Ç–æ–∏—Ç –≤–æ–¥–∞
water_quality - –ö–∞—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã
quality_group - –ö–∞—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã
quantity - –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã
quantity_group - –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã
source - –ò—Å—Ç–æ—á–Ω–∏–∫ –≤–æ–¥—ã
source_type - –ò—Å—Ç–æ—á–Ω–∏–∫ –≤–æ–¥—ã
source_class - –ò—Å—Ç–æ—á–Ω–∏–∫ –≤–æ–¥—ã
waterpoint_type - –í–∏–¥ –≤–æ–¥–æ–µ–º–∞
waterpoint_type_group - –í–∏–¥ –≤–æ–¥–æ–µ–º–∞

# –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –ø–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º —Å—Ç—Ä–æ–∫–æ–≤—ã—Ö —Ç–∏–ø–æ–≤
–ß—Ç–æ–±—ã –≤–∫–ª—é—á–∏—Ç—å –≤ –º–æ–¥–µ–ª—å —Ç–∞–∫–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ, —á—Ç–æ–±—ã –±—ã–ª–æ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –¥–∞–Ω–Ω—ã—Ö –ø–æ –∫–∞–∂–¥–æ–º—É –∏–∑ –Ω–∏—Ö, –∏ —á—Ç–æ–±—ã –¥–∞–Ω–Ω—ã–µ –±—ã–ª–∏ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —Ä–∞–≤–Ω–æ–º–µ—Ä–Ω–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –ø–æ –Ω–∏–º. –î–ª—è –Ω–∞—á–∞–ª–∞ –ø–æ—Å–º–æ—Ç—Ä–∏–º, –∫–∞–∫–∏–µ —Ç–∏–ø—ã —Å—Ç–æ–ª–±—Ü–æ–≤ –∏ –≤ –∫–∞–∫–æ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ —É –Ω–∞—Å –∏–º–µ—é—Ç—Å—è:

In [405]:
TrainingX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 11.3+ MB

In [406]:
TestX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     14850 non-null  int64
 1   amount_tsh             14850 non-null  float64
 2   date_recorded          14850 non-null  object
 3   funder                 13981 non-null  object
 4   gps_height             14850 non-null  int64
 5   installer              13973 non-null  object
 6   longitude              14850 non-null  float64
 7   latitude               14850 non-null  float64
 8   wpt_name               14850 non-null  object
 9   num_private            14850 non-null  int64
 10  basin                  14850 non-null  object
 11  subvillage             14751 non-null  object
 12  region                 14850 non-null  object
 13  region_code            14850 non-null  int64
 14  district_code          14850 non-null  int64
 15  lga                    14850 non-null  object
 16  ward                   14850 non-null  object
 17  population             14850 non-null  int64
 18  public_meeting         14029 non-null  object
 19  recorded_by            14850 non-null  object
 20  scheme_management      13881 non-null  object
 21  scheme_name            7758 non-null   object
 22  permit                 14113 non-null  object
 23  construction_year      14850 non-null  int64
 24  extraction_type        14850 non-null  object
 25  extraction_type_group  14850 non-null  object
 26  extraction_type_class  14850 non-null  object
 27  management             14850 non-null  object
 28  management_group       14850 non-null  object
 29  payment                14850 non-null  object
 30  payment_type           14850 non-null  object
 31  water_quality          14850 non-null  object
 32  quality_group          14850 non-null  object
 33  quantity               14850 non-null  object
 34  quantity_group         14850 non-null  object
 35  source                 14850 non-null  object
 36  source_type            14850 non-null  object
 37  source_class           14850 non-null  object
 38  waterpoint_type        14850 non-null  object
 39  waterpoint_type_group  14850 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 2.8+ MB

–ö–∞–∫ –º—ã –≤–∏–¥–∏–º,  —Å—Ç—Ä–æ–∫–æ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Ç–∞–±–ª–∏—Ü–µ 30, —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã—Ö - 7, –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã—Ö - 3. –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∞–±–ª–∏—Ü—É, —Å–æ–¥–µ—Ä–∂–∞—â—É—é —Ç–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫–æ–≤—ã–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:

In [407]:
TrainingX.select_dtypes(include=['object'])

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,2011-03-14,Roman,Roman,none,Lake Nyasa,Mnyusi B,Iringa,Ludewa,Mundindi,True,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,2013-03-06,Grumeti,GRUMETI,Zahanati,Lake Victoria,Nyamara,Mara,Serengeti,Natta,NaN,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,2013-02-25,Lottery Club,World vision,Kwa Mahundi,Pangani,Majengo,Manyara,Simanjiro,Ngorika,True,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,2013-01-28,Unicef,UNICEF,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,Mahakamani,Mtwara,Nanyumbu,Nanyumbu,True,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,2011-07-13,Action In A,Artisan,Shuleni,Lake Victoria,Kyanyamisa,Kagera,Karagwe,Nyakasimbi,True,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,2013-05-03,Germany Republi,CES,Area Three Namba 27,Pangani,Kiduruni,Kilimanjaro,Hai,Masama Magharibi,True,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,2011-05-07,Cefa-njombe,Cefa,Kwa Yahona Kuvala,Rufiji,Igumbilo,Iringa,Njombe,Ikondo,True,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,2011-04-11,NaN,NaN,Mashine,Rufiji,Madungulu,Mbeya,Mbarali,Chimala,True,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,2011-03-08,Malec,Musa,Mshoro,Rufiji,Mwinyi,Dodoma,Chamwino,Mvumi Makulu,True,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,2011-03-23,World Bank,World,Kwa Mzee Lugawa,Wami / Ruvu,Kikatanyemba,Morogoro,Morogoro Rural,Ngerengere,True,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

## –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∞—è –æ—Ü–µ–Ω–∫–∞ –∫–∞—á–µ—Å—Ç–≤–∞ –¥–∞–Ω–Ω—ã—Ö
–î–ª—è –Ω–∞—á–∞–ª–∞ –ø–æ–ø—Ä–æ–±—É–µ–º –æ—Ü–µ–Ω–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –¥–∞–Ω–Ω—ã—Ö, –ø–æ—Å—Ç—Ä–æ–∏–≤ –º–æ–¥–µ–ª—å –Ω–∞–ø—Ä—è–º—É—é. –û—Ü–µ–Ω–∏–º —Ç–æ—á–Ω–æ—Å—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è, —Ä–∞–∑–¥–µ–ª–∏–≤ –¥–∞–Ω–Ω—ã–µ –Ω–∞ –¥–≤–µ —á–∞—Å—Ç–∏: –Ω–∞ –æ–¥–Ω–æ–π –æ–±—É—á–∏–º –º–æ–¥–µ–ª—å, –ø–æ –≤—Ç–æ—Ä–æ–π –æ—Ü–µ–Ω–∏–º —Ç–æ—á–Ω–æ—Å—Ç—å.

–î–µ–ª–∏–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –¥–≤–∞ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞:

In [113]:
TrainX1 = TrainingX[:29700]
TrainY1 = TrainingY[:29700]
TestX2 = TrainingX[29700:]
TestY2 = TrainingY[29700:]
TestY = TrainingY[29700:]

–°–æ–∑–¥–∞—ë–º –æ–±—ä–µ–∫—Ç –º–æ–¥–µ–ª–∏:

In [114]:
model = GradientBoostingClassifier(
        n_estimators=500,
        max_depth=5,
        #subsample=0.5,
        max_features="auto"
        # random_state=seed
    )

In [115]:
TestY2

          id status_group
29700  62962            1
29701  35938            1
29702   5107            0
29703  64811            1
29704   8958            1
...      ...          ...
59395  60739            0
59396  27263            0
59397  37057            0
59398  31282            0
59399  26348            0

[29700 rows x 2 columns]

–í–∫–ª—é—á–∞–µ–º –≤ –≤—ã–±–æ—Ä–∫—É –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã, –ø—Ä–∏–≤–æ–¥–∏–º—ã–µ –∫ float –Ω–∞–ø—Ä—è–º—É—é, –∏ –ø—Ä–∏–≤–æ–¥–∏–º —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:

In [116]:
TrainX1.dtypes == object

id                       False
amount_tsh               False
date_recorded             True
funder                    True
gps_height               False
installer                 True
longitude                False
latitude                 False
wpt_name                  True
num_private              False
basin                     True
subvillage                True
region                    True
region_code              False
district_code            False
lga                       True
ward                      True
population               False
public_meeting            True
recorded_by               True
scheme_management         True
scheme_name               True
permit                    True
construction_year        False
extraction_type           True
extraction_type_group     True
extraction_type_class     True
management                True
management_group          True
payment                   True
payment_type              True
water_quality             True
quality_group             True
quantity                  True
quantity_group            True
source                    True
source_type               True
source_class              True
waterpoint_type           True
waterpoint_type_group     True
dtype: bool

–í—Å–µ —Å—Ç–æ–ª–±—Ü—ã, —Ç–∏–ø–æ–º –∫–æ—Ç–æ—Ä—ã—Ö –ù–ï —è–≤–ª—è–µ—Ç—Å—è object, –º—ã –º–æ–∂–µ–º –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ —Ç–∏–ø—É float.

In [117]:
ctrainX = TrainX1[['id',
 'amount_tsh',
 'gps_height',
 'longitude',
 'latitude',
 'num_private',
 'region_code',
 'district_code',
 'population',
 'construction_year'
                  ]]
#ctrainX = ctrainX.values()
ctrainX = ctrainX.to_numpy()
ctrainX = ctrainX.astype(float)
ctrainX

array([[6.9572e+04, 6.0000e+03, 1.3900e+03, ..., 5.0000e+00, 1.0900e+02,
        1.9990e+03],
       [8.7760e+03, 0.0000e+00, 1.3990e+03, ..., 2.0000e+00, 2.8000e+02,
        2.0100e+03],
       [3.4310e+04, 2.5000e+01, 6.8600e+02, ..., 4.0000e+00, 2.5000e+02,
        2.0090e+03],
       ...,
       [6.0922e+04, 0.0000e+00, 0.0000e+00, ..., 4.0000e+00, 0.0000e+00,
        0.0000e+00],
       [5.6395e+04, 0.0000e+00, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        0.0000e+00],
       [7.2779e+04, 0.0000e+00, 1.5060e+03, ..., 7.0000e+00, 1.4000e+02,
        2.0010e+03]])

In [118]:
TrainY1.replace(to_replace="functional", value=0, inplace=True)
TrainY1.replace(to_replace="non functional", value=1, inplace=True)
TrainY1.replace(to_replace="functional needs repair", value=2, inplace=True)

ctrainY = TrainY1
ctrainY = ctrainY.to_numpy()
ctrainY = ctrainY[:, 1]
ctrainY = ctrainY.astype(float)
ctrainY

c:\python3\lib\site-packages\pandas\core\frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

array([0., 0., 0., ..., 1., 1., 0.])

In [119]:
ctestX = TestX2[['id',
 'amount_tsh',
 'gps_height',
 'longitude',
 'latitude',
 'num_private',
 'region_code',
 'district_code',
 'population',
 'construction_year'
                  ]]
ctestX = ctestX.to_numpy()
ctestX = ctestX.astype(float)

–°—Ç—Ä–æ–∏–º –º–æ–¥–µ–ª—å:

In [120]:
model.fit(ctrainX,ctrainY)

#predictions = model.predict_proba(testX)[:,1]
predictions = model.predict_proba(ctestX)
predictions

array([[0.16324187, 0.79217712, 0.04458101],
       [0.49407471, 0.41001585, 0.09590944],
       [0.93835256, 0.04746945, 0.01417799],
       ...,
       [0.5522829 , 0.19316773, 0.25454937],
       [0.45815469, 0.4832003 , 0.05864501],
       [0.40366304, 0.56320941, 0.03312755]])

–ú—ã –ø–æ–ª—É—á–∏–ª–∏ —Ç–∞–±–ª–∏—Ü—É –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–µ–π –∫–∞–∂–¥–æ–≥–æ –∏–∑ —Ç—Ä–µ—Ö —Å–æ—Å—Ç–æ—è–Ω–∏–π. –í—ã–±–µ—Ä–µ–º –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ –≤–µ—Ä–æ—è—Ç–Ω—ã–µ —Å–æ—Å—Ç–æ—è–Ω–∏—è:

In [121]:
answ = predictions[:, 0].astype(int)
for ii in range (0, len(predictions)):
    answ[ii] = predictions[ii].argmax();
answ

array([1, 0, 0, ..., 0, 1, 1])

–¢–µ–ø–µ—Ä—å –∑–∞–ø–∏—à–µ–º –∏—Ö –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∏ —Å—Ä–∞–≤–Ω–∏–º —Å –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏:

In [122]:
TestY['status_group'] = answ
TestY

c:\python3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          id  status_group
29700  62962             1
29701  35938             0
29702   5107             0
29703  64811             0
29704   8958             1
...      ...           ...
59395  60739             0
59396  27263             0
59397  37057             0
59398  31282             1
59399  26348             1

[29700 rows x 2 columns]

In [123]:
TestY2

          id status_group
29700  62962            1
29701  35938            1
29702   5107            0
29703  64811            1
29704   8958            1
...      ...          ...
59395  60739            0
59396  27263            0
59397  37057            0
59398  31282            0
59399  26348            0

[29700 rows x 2 columns]

In [124]:
TestY2.replace(to_replace="functional", value=0, inplace=True)
TestY2.replace(to_replace="non functional", value=1, inplace=True)
TestY2.replace(to_replace="functional needs repair", value=2, inplace=True)
TestY2

c:\python3\lib\site-packages\pandas\core\frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

          id status_group
29700  62962            1
29701  35938            1
29702   5107            0
29703  64811            1
29704   8958            1
...      ...          ...
59395  60739            0
59396  27263            0
59397  37057            0
59398  31282            0
59399  26348            0

[29700 rows x 2 columns]

In [125]:
(TestY2['status_group'] == TestY['status_group']).sum()

20287

In [131]:
acc = 100 * (TestY2['status_group'] == TestY['status_group']).sum() / len(TestY2)
print(acc,'%')

68.3063973063973 %

–¢–æ—á–Ω–æ—Å—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è —Å–æ—Å—Ç–∞–≤–∏–ª–∞ 68.3%! –≠—Ç–æ –Ω–µ–ø–ª–æ—Ö–æ, —É—á–∏—Ç—ã–≤–∞—è, —á—Ç–æ –¥–∞–Ω–Ω—ã–µ –µ—â—ë –Ω–∏–∫–∞–∫ –Ω–µ –æ–ø—Ç–∏–º–∏–∑–∏—Ä–æ–≤–∞–ª–∏—Å—å. –ó–∞–π–º—ë–º—Å—è –∏—Ö –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–µ–π.

# –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

## –°—Ç–∞—Ç–∏—á–µ—Å–∫–∏–π –Ω–∞–ø–æ—Ä

In [408]:
amount = TrainingX.loc[TrainingX['amount_tsh'] != 0]
amount

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
5,9944,20.0,2011-03-13,Mkinga Distric Coun,0,DWE,39.172796,-4.765587,Tajiri,0,...,per bucket,salty,salty,enough,enough,other,other,unknown,communal standpipe multiple,communal standpipe
11,50409,200.0,2013-02-18,Danida,1062,DANIDA,35.770258,-10.574175,Kwa Alid Nchimbi,0,...,on failure,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
16,48451,500.0,2011-07-04,Unicef,1703,DWE,34.642439,-9.106185,Kwa John Mtenzi,0,...,monthly,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59385,34473,500.0,2012-11-03,Jaica,1327,JAICA CO,33.951681,-2.021854,Kwa Marunda,0,...,monthly,salty,salty,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59387,26640,100.0,2013-03-12,0,25,0,39.176480,-6.957098,Kwa Maliba,0,...,per bucket,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
59394,11164,500.0,2011-03-09,World Bank,351,ML appro,37.634053,-6.124830,Chimeredya,0,...,monthly,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe

–î–ª—è –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–∞ –≤–æ–¥–æ–∫–∞—á–µ–∫ —ç—Ç–æ—Ç –ø–∞—Ä–∞–º–µ—Ç—Ä –Ω–µ —É–∫–∞–∑–∞–Ω. –í–∫–ª—é—á–∞—Ç—å –≤ –º–æ–¥–µ–ª—å –Ω–µ –±—É–¥–µ–º.

## –î–∞—Ç–∞ –≤–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö
–û—Ü–µ–Ω–∏–º —Ä–∞–∑–±—Ä–æ—Å –¥–∞—Ç –≤–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö.

–î–ª—è –Ω–∞—á–∞–ª–∞ –Ω–∞–º –Ω–∞–¥–æ –ø—Ä–∏–≤–µ—Å—Ç–∏ –¥–∞—Ç—ã –∫ —Ç–∞–∫–æ–º—É –≤–∏–¥—É, —á—Ç–æ–±—ã –∏—Ö –º–æ–∂–Ω–æ –±—ã–ª–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–ª—è –≤–Ω–µ—Å–µ–Ω–∏—è –≤ –º–æ–¥–µ–ª—å.

In [5]:
TrainingX['date_recorded'] = TrainingX['date_recorded'].map(lambda x: str(x)[:4])
TrainingX['date_recorded'] = TrainingX['date_recorded'].astype(object).astype(int)
TrainingX

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,4700.0,2011,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0.0,2011,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0.0,2011,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [6]:
TestX['date_recorded'] = TestX['date_recorded'].map(lambda x: str(x)[:4])
TestX['date_recorded'] = TestX['date_recorded'].astype(object).astype(int)
TestX

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,39307,0.0,2011,Danida,34,Da,38.852669,-6.582841,Kwambwezi,0,...,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
14846,18990,1000.0,2011,Hiap,0,HIAP,37.451633,-5.350428,Bonde La Mkondoa,0,...,annually,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
14847,28749,0.0,2013,NaN,1476,NaN,34.739804,-4.585587,Bwawani,0,...,never pay,soft,good,insufficient,insufficient,dam,dam,surface,communal standpipe,communal standpipe
14848,33492,0.0,2013,Germany,998,DWE,35.432732,-10.584159,Kwa John,0,...,never pay,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
14849,68707,0.0,2013,Government Of Tanzania,481,Government,34.765054,-11.226012,Kwa Mzee Chagala,0,...,never pay,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe

–û—Ü–µ–Ω–∏–º –¥–∏–∞–ø–∞–∑–æ–Ω –¥–∞—Ç –∑–∞–ø–∏—Å–µ–π:

In [7]:
val = TrainingX['date_recorded'].value_counts()
val

2011    28674
2013    24271
2012     6424
2004       30
2002        1
Name: date_recorded, dtype: int64

–ë–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π —Å–¥–µ–ª–∞–Ω–æ –≤ –ø–µ—Ä–∏–æ–¥ —Å 2011 –ø–æ 2013 –≥–æ–¥—ã, –Ω–æ –µ—Å—Ç—å –≤–µ—Å—å–º–∞ —Å—Ç–∞—Ä—ã–µ –∑–∞–ø–∏—Å–∏, –≤—ã–¥–µ–ª—è—é—â–∏–µ—Å—è –∏–∑ –≤—ã–±–æ—Ä–∫–∏. –ú—ã –º–æ–∂–µ–º –ª–∏–±–æ –∏—Å–∫–ª—é—á–∏—Ç—å –∏–∑ —ç—Ç–æ–≥–æ –º–Ω–æ–∂–µ—Å—Ç–≤–∞ 31 –≤–æ–¥–æ–∫–∞—á–∫—É, –¥–∞–Ω–Ω—ã–µ –æ –∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–∏—Å–∞–Ω—ã –≤ 2002 –∏ 2004 –≥–æ–¥—ã, –ª–∏–±–æ –∂–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∏—Ö, –µ—Å–ª–∏ –æ –Ω–∏—Ö –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –º–Ω–æ–≥–æ –¥–∞–Ω–Ω—ã—Ö –æ –≥–æ–¥–∞—Ö –ø–æ—Å—Ç—Ä–æ–π–∫–∏. –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ä–∞–∑–±—Ä–æ—Å –¥–∞–Ω–Ω—ã—Ö –ø–æ –≥–æ–¥–∞–º –ø–æ—Å—Ç—Ä–æ–π–∫–∏:

In [8]:
val = TrainingX['construction_year'].value_counts()
val

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

–í–∏–¥–∏–º, —á—Ç–æ –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–∞—è —á–∞—Å—Ç—å –≥–æ–¥–æ–≤ –ø–æ—Å—Ç—Ä–æ–π–∫–∏ –Ω–µ —É–∫–∞–∑–∞–Ω–∞. –û—Ü–µ–Ω–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ—É–∫–∞–∑–∞–Ω–Ω—ã—Ö –≥–æ–¥–æ–≤:

In [413]:
print(int(len(TrainingX[TrainingX['construction_year'] == 0])/len(TrainingX)*100.0), "%")

34 %

–ù–µ–º–∞–ª–æ. –¢–µ–ø–µ—Ä—å –ø–æ—Å–º–æ—Ç—Ä–∏–º, –Ω–∞—Å–∫–æ–ª—å–∫–æ –ø–æ–ª–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ –≥–æ–¥–µ –ø–æ—Å—Ç—Ä–æ–π–∫–∏ —É –Ω–∞—Å –µ—Å—Ç—å –¥–ª—è —Å—Ç–∞—Ä—ã—Ö –∑–∞–ø–∏—Å–µ–π

In [414]:
val = TrainingX.loc[TrainingX['date_recorded'] < 2005]
val1 = val.loc[val['construction_year'] > 0]
val1

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
762,3995,0.0,2004,Dhv Moro,277,DWE,36.516088,-8.097199,Hospital,0,...,unknown,unknown,unknown,unknown,unknown,shallow well,shallow well,groundwater,hand pump,hand pump
1189,20122,0.0,2004,Cct,777,Regional Water,39.130087,-10.572385,Kwa Mzee Mkata,0,...,never pay,soft,good,enough,enough,spring,spring,groundwater,other,other
3446,53174,0.0,2004,Hesawa,1362,HESAWA,34.516282,-1.732201,Musati Primary School Dp No.7,0,...,unknown,soft,good,enough,enough,spring,spring,groundwater,communal standpipe multiple,communal standpipe
8729,20198,0.0,2004,Government Of Tanzania,86,DWE,38.959776,-5.247278,Kwa Bi Shoga,0,...,never pay,salty abandoned,salty,dry,dry,shallow well,shallow well,groundwater,hand pump,hand pump
10441,55069,20.0,2004,Plan Int,307,DDCA,38.768656,-7.298419,Mianzi Primary School,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,hand pump,hand pump
13366,48759,100.0,2004,Mgaya,1331,Mgaya,34.290885,-1.699609,Maro Mgaya,0,...,per bucket,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
22754,51853,0.0,2004,Hesawa,1167,DWE,32.881651,-1.935430,Nyamarasi,0,...,never pay,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
23373,20534,50.0,2004,Tasaf And Lga,239,TASAFcitizen and LGA,39.272736,-11.019000,Juhudi,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe multiple,communal standpipe
27501,53086,500.0,2004,Kkkt,1611,Villagers,34.900561,-8.873813,Kwa Barnabasi Kilumile,0,...,on failure,soft,good,enough,enough,hand dtw,borehole,groundwater,hand pump,hand pump
32619,9195,0.0,2004,Caltus,1856,Cultus,31.539761,-7.983106,Kwa Pambajila,0,...,never pay,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe
33942,5971,0.0,2004,Amref,-27,AMREF,39.283105,-7.422852,Kwa Ndevu,0,...,never pay,soft,good,seasonal,seasonal,shallow well,shallow well,groundwater,hand pump,hand pump
39559,15921,0.0,2004,Tasafu,301,DWE,38.558421,-5.140405,Shuleni,0,...,never pay,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
42343,3358,0.0,2004,Fw,362,FW,38.604979,-10.787028,Marambo,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
48555,1251,0.0,2004,African 2000 Network,284,Karugendo,38.929212,-7.111349,Kauzeni Primary School 2,0,...,never pay,soft,good,enough,enough,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
50564,33770,0.0,2004,Fw,378,FW,38.628365,-10.763937,Mnazimmoja,0,...,unknown,salty,salty,dry,dry,shallow well,shallow well,groundwater,other,other
52271,2934,0.0,2004,Government Of Tanzania,1793,DWE,38.193783,-4.652043,Kwa Mzee Abibu,0,...,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
57291,59286,0.0,2004,Government Of Tanzania,1181,RWE,32.888148,-1.936676,Kwamtori,0,...,never pay,soft,good,insufficient,insufficient,lake,river/lake,surface,communal standpipe multiple,communal standpipe

–±–æ–ª–µ–µ —á–µ–º —É –ø–æ–ª–æ–≤–∏–Ω—ã —Å—Ç–∞—Ä—ã—Ö –∑–∞–ø–∏—Å–µ–π –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –æ –≥–æ–¥–µ –ø–æ—Å—Ç—Ä–æ–π–∫–∏. –ù–µ –±—É–¥–µ–º –∏—Ö –∏—Å–∫–ª—é—á–∞—Ç—å.

## –ö—Ç–æ —Ñ–∏–Ω–∞–Ω—Å–∏—Ä–æ–≤–∞–ª –∫–æ–ª–æ–¥–µ—Ü

–ü–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—Å–µ—Ö —É—á–µ—Ä–µ–¥–∏—Ç–µ–ª–µ–π:

In [415]:
val = TrainingX['funder'].value_counts()
val.to_csv('./contest/res.csv',index = True)

In [416]:
val

Government Of Tanzania    9084
Danida                    3114
Hesawa                    2202
Rwssp                     1374
World Bank                1349
                          ...
Rarymond Ekura               1
Justine Marwa                1
Municipal Council            1
Afdp                         1
Samlo                        1
Name: funder, Length: 1897, dtype: int64

1897 –Ω–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏–π –∏ –±–æ–ª—å—à–æ–π —Ä–∞–∑–±—Ä–æ—Å –ø–æ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤—É... –°–æ—á—Ç—ë–º —ç—Ç–æ –ø–ª–æ—Ö–∏–º –ø—Ä–∏–∑–Ω–∞–∫–æ–º –∏ –Ω–µ –±—É–¥–µ–º –≤–∫–ª—é—á–∞—Ç—å –≤ –º–æ–¥–µ–ª—å.

## –ì–ª—É–±–∏–Ω–∞ —Å–∫–≤–∞–∂–∏–Ω—ã

–ì–ª—É–±–∏–Ω–∞ —Å–∫–≤–∞–∂–∏–Ω—ã –º–æ–∂–µ—Ç –±—ã—Ç—å –∫–∞–∫ –≤—ã—à–µ —É—Ä–æ–≤–Ω—è –º–æ—Ä—è (–ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω–∞—è), —Ç–∞–∫ –∏ –Ω–∏–∂–µ (–æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–∞—è). –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –ø–æ–ª–Ω–æ—Ç—É –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–Ω–æ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å–∫–≤–∞–∂–∏–Ω, –≥–ª—É–±–∏–Ω–∞ –∫–æ—Ç–æ—Ä—ã—Ö —Ä–∞–≤–Ω—è–µ—Ç—Å—è –Ω—É–ª—é

In [417]:
val = TrainingX.loc[TrainingX['gps_height'] == 0]
val

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
4,19728,0.0,2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
5,9944,20.0,2011,Mkinga Distric Coun,0,DWE,39.172796,-4.765587,Tajiri,0,...,per bucket,salty,salty,enough,enough,other,other,unknown,communal standpipe multiple,communal standpipe
6,19816,0.0,2012,Dwsp,0,DWSP,33.362410,-3.766365,Kwa Ngomho,0,...,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
7,54551,0.0,2012,Rwssp,0,DWE,32.620617,-4.226198,Tushirikiane,0,...,unknown,milky,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
8,53934,0.0,2012,Wateraid,0,Water Aid,32.711100,-5.146712,Kwa Ramadhan Musa,0,...,never pay,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59384,72148,0.0,2011,Concern,0,CONCERN,30.667805,-2.483710,Chamkube,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
59392,40607,0.0,2011,Government Of Tanzania,0,Government,33.009440,-8.520888,Benard Charles,0,...,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59393,48348,0.0,2012,Private,0,Private,33.866852,-4.287410,Kwa Peter,0,...,per bucket,soft,good,insufficient,insufficient,dam,dam,surface,other,other
59397,37057,0.0,2011,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump

–û—Ç—Å—É—Ç—Å—Ç–≤—É–µ—Ç –±–æ–ª—å—à–µ —Ç—Ä–µ—Ç–∏ –¥–∞–Ω–Ω—ã—Ö, –∏ —Å—É–±—ä–µ–∫—Ç–∏–≤–Ω–æ –≥–ª—É–±–∏–Ω–∞ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ —É—Ä–æ–≤–Ω—è –º–æ—Ä—è - –¥–∞–ª–µ–∫–æ –Ω–µ —Å–∞–º—ã–π —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫. –ò—Å–∫–ª—é—á–∏–º –µ–≥–æ.

## –£—Å—Ç–∞–Ω–æ–≤—â–∏–∫

In [418]:
val = TrainingX['installer'].value_counts()
val.to_csv('./contest/res.csv',index = True)

–í–∏–¥–∏–º, —á—Ç–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —É—Å—Ç–∞–Ω–æ–≤—â–∏–∫–æ–≤ –Ω–µ—Ä–∞–≤–Ω–æ–º–µ—Ä–Ω–æ–µ, –¥–∞–Ω–Ω—ã–µ –æ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç, –º–Ω–æ–≥–∏–µ —É—Å—Ç–∞–Ω–æ–≤—â–∏–∫–∏ —Ñ–∞–∫—Ç–∏—á–µ—Å–∫–∏ –¥—É–±–ª–∏—Ä—É—é—Ç—Å—è –ø–æ–¥ —Ä–∞–∑–Ω—ã–º–∏ –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏. –≠—Ç–æ—Ç –ø—Ä–∏–∑–Ω–∞–∫ –ø–ª–æ—Ö–æ –ø–æ–¥—Ö–æ–¥–∏—Ç –¥–ª—è –º–æ–¥–µ–ª–∏, –≤–∫–ª—é—á–∞—Ç—å –µ–≥–æ –Ω–µ –±—É–¥–µ–º.

## –ö–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã

–°—É–±—ä–µ–∫—Ç–∏–≤–Ω–æ –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã —è–≤–ª—è—é—Ç—Å—è –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –≤–∞–∂–Ω—ã–º –ø—Ä–∏–∑–Ω–∞–∫–æ–º. –î–ª—è –Ω–∞—á–∞–ª–∞ –æ—Ü–µ–Ω–∏–º, —Å–∫–æ–ª—å–∫–æ —É –Ω–∞—Å –Ω—É–ª–µ–≤—ã—Ö –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç:

In [9]:
val = TrainingX.loc[TrainingX['longitude'] == 0]
val

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
21,6091,0.0,2013,Dwsp,0,DWE,0.0,-2.000000e-08,Muungano,0,...,unknown,unknown,unknown,unknown,unknown,shallow well,shallow well,groundwater,hand pump,hand pump
53,32376,0.0,2011,Government Of Tanzania,0,Government,0.0,-2.000000e-08,Polisi,0,...,unknown,unknown,unknown,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
168,72678,0.0,2013,Wvt,0,WVT,0.0,-2.000000e-08,Wvt Tanzania,0,...,other,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
177,56725,0.0,2013,Netherlands,0,DWE,0.0,-2.000000e-08,Kikundi Cha Wakina Mama,0,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other
253,13042,0.0,2012,Hesawa,0,DWE,0.0,-2.000000e-08,Kwakisusi,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59189,62177,0.0,2011,Dwsp,0,DWE,0.0,-2.000000e-08,Wazazo,0,...,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
59208,3631,0.0,2013,Dwsp,0,DWE,0.0,-2.000000e-08,Mtakuja,0,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
59295,60843,0.0,2011,Rwssp,0,DWE,0.0,-2.000000e-08,Maendeleo,0,...,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
59324,748,0.0,2013,World Vision,0,World Vision,0.0,-2.000000e-08,Mwazwilo,0,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
59374,49651,0.0,2012,Rwssp,0,DWE,0.0,-2.000000e-08,Nguvu Kazi,0,...,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

–ù–∞ —Ñ–æ–Ω–µ –≤—Å–µ–≥–æ –º–∞—Å—Å–∏–≤–∞ –¥–∞–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö —Å –Ω–µ–∑–∞–ø–æ–ª–Ω–µ–Ω–Ω—ã–º–∏ –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏ –Ω–µ–º–Ω–æ–≥–æ. –í–∫–ª—é—á–∏—Ç—å –≤ –º–æ–¥–µ–ª—å –∏—Ö –≤—Å—ë –∂–µ —Å—Ç–æ–∏—Ç, –Ω–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∑–∞–º–µ–Ω–∏—Ç—å –≤—Å–µ –Ω—É–ª–µ–≤—ã–µ –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏ —Å—Ä–µ–¥–Ω–∏–º–∏.

In [10]:
meanX = TrainingX[TrainingX['longitude'] != 0]
meanLon = meanX['longitude'].mean()
meanLat = meanX['latitude'].mean()
meanLon

35.149669123888835

In [11]:
meanLat

-5.885572340514864

In [12]:
TrainingX.loc[(TrainingX['longitude'] == 0), 'longitude'] = meanLon

In [13]:
TrainingX.loc[(abs(TrainingX['latitude']) - abs(meanLat) < 0.01), 'latitude'] = meanLat
val = TrainingX.loc[TrainingX['longitude'] == meanLon]
val

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
21,6091,0.0,2013,Dwsp,0,DWE,35.149669,-5.885572,Muungano,0,...,unknown,unknown,unknown,unknown,unknown,shallow well,shallow well,groundwater,hand pump,hand pump
53,32376,0.0,2011,Government Of Tanzania,0,Government,35.149669,-5.885572,Polisi,0,...,unknown,unknown,unknown,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
168,72678,0.0,2013,Wvt,0,WVT,35.149669,-5.885572,Wvt Tanzania,0,...,other,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
177,56725,0.0,2013,Netherlands,0,DWE,35.149669,-5.885572,Kikundi Cha Wakina Mama,0,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other
253,13042,0.0,2012,Hesawa,0,DWE,35.149669,-5.885572,Kwakisusi,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59189,62177,0.0,2011,Dwsp,0,DWE,35.149669,-5.885572,Wazazo,0,...,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
59208,3631,0.0,2013,Dwsp,0,DWE,35.149669,-5.885572,Mtakuja,0,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
59295,60843,0.0,2011,Rwssp,0,DWE,35.149669,-5.885572,Maendeleo,0,...,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
59324,748,0.0,2013,World Vision,0,World Vision,35.149669,-5.885572,Mwazwilo,0,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
59374,49651,0.0,2012,Rwssp,0,DWE,35.149669,-5.885572,Nguvu Kazi,0,...,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [14]:
meanX = TestX[TestX['longitude'] != 0]
meanLon = meanX['longitude'].mean()
meanLat = meanX['latitude'].mean()
meanLon

35.14311383234836

In [15]:
meanLat

-5.865223284117974

In [16]:
TestX.loc[(TestX['longitude'] == 0), 'longitude'] = meanLon

In [17]:
TestX.loc[(abs(TestX['latitude']) - abs(meanLat) < 0.01), 'latitude'] = meanLat
val = TestX.loc[TestX['longitude'] == meanLon]
val

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
28,44718,0.0,2013,Dwsp,0,DWE,35.143114,-5.865223,Nkubanija,0,...,on failure,salty abandoned,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
55,15962,0.0,2011,Hesawa,0,Hesawa,35.143114,-5.865223,Bombani,0,...,unknown,unknown,unknown,dry,dry,machine dbh,borehole,groundwater,other,other
68,45374,0.0,2013,Dwsp,0,DWE,35.143114,-5.865223,Maendeleo,0,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
139,68616,0.0,2011,Plan International,0,Plan Internationa,35.143114,-5.865223,Mwatulole,0,...,never pay,soft,good,insufficient,insufficient,machine dbh,borehole,groundwater,hand pump,hand pump
150,51539,0.0,2013,Dwsp,0,DWE,35.143114,-5.865223,Mwashidakwa,0,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14649,30454,0.0,2011,Nyamigogo,0,MASWI,35.143114,-5.865223,Husein,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
14676,44766,0.0,2013,Dwsp,0,DWE,35.143114,-5.865223,Imalanota,0,...,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14766,56279,0.0,2012,Government Of Tanzania,0,RWE,35.143114,-5.865223,Ofisini,0,...,never pay,soft,good,insufficient,insufficient,lake,river/lake,surface,communal standpipe multiple,communal standpipe
14831,37994,0.0,2012,Hesawa,0,DWE,35.143114,-5.865223,Kwa Masilili,0,...,never pay,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14841,64579,0.0,2012,Dwsp,0,DWE,35.143114,-5.865223,Iguna,0,...,unknown,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

## –ù–∞–∑–≤–∞–Ω–∏–µ –≤–æ–¥–æ—ë–º–∞

In [428]:
val = TrainingX['wpt_name'].value_counts()
val.to_csv('./contest/res.csv',index = True)

–°–∞–º–æ–µ —á–∞—Å—Ç–æ–≤—Å—Ç—Ä–µ—á–∞—é—â–µ–µ—Å—è –∑–Ω–∞—á–µ–Ω–∏–µ - None. –ë–æ–ª–µ–µ 30 —Ç—ã—Å—è—á –Ω–∞–∑–≤–∞–Ω–∏–π –≤–æ–¥–æ—ë–º–æ–≤ –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –ª–∏—à—å –æ–¥–∏–Ω —Ä–∞–∑. –≠—Ç–æ—Ç –ø—Ä–∏–∑–Ω–∞–∫ –Ω–µ —Å—Ç–æ–∏—Ç –≤–∫–ª—é—á–∞—Ç—å –≤ –º–æ–¥–µ–ª—å

## –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–æ–¥–æ—ë–º–∞

In [18]:
val = TrainingX['basin'].value_counts()
val.to_csv('./contest/res.csv',index = True)

In [19]:
val

Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64

–í–µ–ª–∏–∫–æ–ª–µ–ø–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫: —Å —Ö–æ—Ä–æ—à–∏–º —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ–º, –∑–∞–ø–æ–ª–Ω–µ–Ω–Ω—ã–π –¥–ª—è –∞–±—Å–æ–ª—é—Ç–Ω–æ –≤—Å–µ—Ö –≤–æ–¥–æ–∫–∞—á–µ–∫.

In [20]:
val = TrainingX['basin'].value_counts()
val1 = TestX['basin'].value_counts()
val = val.append(val1)
val

Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Lake Victoria               2623
Pangani                     2203
Rufiji                      2011
Internal                    1857
Lake Tanganyika             1620
Wami / Ruvu                 1590
Lake Nyasa                  1247
Ruvuma / Southern Coast     1094
Lake Rukwa                   605
Name: basin, dtype: int64

–ë–æ–ª–µ–µ —Ç–æ–≥–æ, –≤ —Ç–µ—Å—Ç–æ–≤–æ–º —Ñ—Ä–µ–π–º–µ –≤—Å–µ —Ç–µ –∂–µ –Ω–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏—è —Å —Ç–∞–∫–∏–º –∂–µ –∑–∞–º–µ—á–∞—Ç–µ–ª—å–Ω—ã–º —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ–º. –í–∫–ª—é—á–∏–º —ç—Ç–æ—Ç –ø—Ä–∏–∑–Ω–∞–∫ –≤ –º–æ–¥–µ–ª—å. –ó–∞–º–µ–Ω–∏–º  –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–æ–¥–æ—ë–º–∞ –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:

In [21]:
val = TrainingX['basin'].value_counts()
val

Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64

In [22]:
for i in range(0, len(val)):
    val[i] = i
    
for ii in range(0, len(val)):
    print(val.keys()[ii])
    TrainingX['basin'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)
    TestX['basin'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)

Lake Victoria
Pangani
Rufiji
Internal
Lake Tanganyika
Wami / Ruvu
Lake Nyasa
Ruvuma / Southern Coast
Lake Rukwa

In [23]:
TrainingX['basin']

0        6
1        0
2        1
3        7
4        0
        ..
59395    1
59396    2
59397    2
59398    2
59399    5
Name: basin, Length: 59400, dtype: int64

## –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –Ω–∞—Å–µ–ª—ë–Ω–Ω–æ–≥–æ –ø—É–Ω–∫—Ç–∞

In [435]:
val = TrainingX['subvillage'].value_counts()
val.to_csv('./contest/res.csv',index = True)

–ù–∞ 59340 –≤–æ–¥–æ–∫–∞—á–µ–∫ –ø—Ä–∏—Ö–æ–¥–∏—Ç—Å—è –ø–æ—á—Ç–∏ 20 —Ç—ã—Å—è—á –Ω–∞—Å–µ–ª—ë–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–æ–≤. –≠—Ç–æ—Ç –ø—Ä–∏–∑–Ω–∞–∫ –Ω–∞–º –Ω–µ –ø–æ–¥—Ö–æ–¥–∏—Ç

## –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ —Ä–µ–≥–∏–æ–Ω–∞

In [24]:
val = TrainingX['region'].value_counts()
val

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

In [25]:
val = TrainingX['region_code'].value_counts()
val

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

In [26]:
val = TrainingX['district_code'].value_counts()
val

1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

–ö–∞–∫ –º—ã –≤–∏–¥–∏–º, –Ω–∞–∏–ª—É—á—à–∏–º —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ–º –æ–±–ª–∞–¥–∞–µ—Ç –ø—Ä–∏–∑–Ω–∞–∫ region, –æ–Ω –∂–µ —Å–∞–º—ã–π –ø–æ–Ω—è—Ç–Ω—ã–π –∏–∑ –≤—Å–µ—Ö —Ç—Ä—ë—Ö - –µ–≥–æ –º—ã –∏ –≤–∫–ª—é—á–∏–º –≤ –º–æ–¥–µ–ª—å

In [27]:
val = TrainingX['region'].value_counts()
val

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

In [28]:
for i in range(0, len(val)):
    val[i] = i
    
for ii in range(0, len(val)):
    TrainingX['region'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)
    TestX['region'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)

In [29]:
TrainingX['region']

0         0
1        14
2        18
3        17
4         6
         ..
59395     3
59396     0
59397     2
59398    12
59399     4
Name: region, Length: 59400, dtype: int64

## –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ

In [30]:
val = TrainingX['lga'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

Njombe          2503
Arusha Rural    1252
Moshi Rural     1251
Bariadi         1177
Rungwe          1106
                ...
Moshi Urban       79
Kigoma Urban      71
Arusha Urban      63
Lindi Urban       21
Nyamagana          1
Name: lga, Length: 125, dtype: int64

–≠—Ç–æ—Ç –ø—Ä–∏–∑–Ω–∞–∫ –Ω–∞–º —Ö–æ—Ä–æ—à–æ –ø–æ–¥—Ö–æ–¥–∏—Ç. –í–∫–ª—é—á–∏–º –≤ –º–æ–¥–µ–ª—å.

In [31]:
val = TrainingX['lga'].value_counts()
val1 = TestX['lga'].value_counts()
val = val.append(val1)
val

Njombe          2503
Arusha Rural    1252
Moshi Rural     1251
Bariadi         1177
Rungwe          1106
                ...
Songea Urban      23
Tanga             22
Arusha Urban      19
Lindi Urban        3
Nyamagana          1
Name: lga, Length: 250, dtype: int64

In [32]:
for i in range(0, len(val)):
    val[i] = i
    
for ii in range(0, len(val)):
    TrainingX['lga'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)
    TestX['lga'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)

In [33]:
TestX['lga']

0         85
1          1
2         10
3        111
4         20
        ...
14845      9
14846    108
14847     10
14848     25
14849     20
Name: lga, Length: 14850, dtype: int64

–¢–µ–ø–µ—Ä—å –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø—Ä–∏–∑–Ω–∞–∫ ward

In [446]:
val = TrainingX['ward'].value_counts()
val

Igosi              307
Imalinyi           252
Siha Kati          232
Mdandu             231
Nduruma            217
                  ...
Uchindile            1
Thawi                1
Uwanja wa Ndege      1
Izia                 1
Kinungu              1
Name: ward, Length: 2092, dtype: int64

–û–Ω –Ω–∞–º –ø–æ–¥—Ö–æ–¥–∏—Ç –º–µ–Ω—å—à–µ, –∏ —Ñ–∞–∫—Ç–∏—á–µ—Å–∫–∏ –Ω–µ –Ω–µ—Å—ë—Ç –ø–æ–ª–µ–∑–Ω–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –Ω–∞ —Ñ–æ–Ω–µ lga. –ï–≥–æ –≤–∫–ª—é—á–∞—Ç—å –≤ –º–æ–¥–µ–ª—å –Ω–µ –±—É–¥–µ–º.

## –ù–∞—Å–µ–ª–µ–Ω–∏–µ –≤–æ–∫—Ä—É–≥ —Å–∫–≤–∞–∂–∏–Ω—ã

In [34]:
val = TrainingX.loc[TrainingX['population'] == 0]
val

# –≤–æ–∑–º–æ–∂–Ω–æ –∏—Å–∫–ª—é—á–∏–º –¥–ª—è —Ç–µ—Å—Ç–∞

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
4,19728,0.0,2011,Action In A,0,Artisan,31.130847,-5.885572,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
6,19816,0.0,2012,Dwsp,0,DWSP,33.362410,-5.885572,Kwa Ngomho,0,...,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
7,54551,0.0,2012,Rwssp,0,DWE,32.620617,-5.885572,Tushirikiane,0,...,unknown,milky,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
8,53934,0.0,2012,Wateraid,0,Water Aid,32.711100,-5.885572,Kwa Ramadhan Musa,0,...,never pay,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump
9,46144,0.0,2011,Isingiro Ho,0,Artisan,30.626991,-5.885572,Kwapeto,0,...,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59384,72148,0.0,2011,Concern,0,CONCERN,30.667805,-5.885572,Chamkube,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
59392,40607,0.0,2011,Government Of Tanzania,0,Government,33.009440,-8.520888,Benard Charles,0,...,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59393,48348,0.0,2012,Private,0,Private,33.866852,-5.885572,Kwa Peter,0,...,per bucket,soft,good,insufficient,insufficient,dam,dam,surface,other,other
59397,37057,0.0,2011,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump

In [35]:
meanX = TrainingX[TrainingX['population'] != 0]
mean = meanX['population'].mean()
mean

281.08716694284436

In [36]:
TrainingX.loc[(TrainingX['population'] == 0), 'population'] = mean
TrainingX['population']

0        109.000000
1        280.000000
2        250.000000
3         58.000000
4        281.087167
            ...
59395    125.000000
59396     56.000000
59397    281.087167
59398    281.087167
59399    150.000000
Name: population, Length: 59400, dtype: float64

In [37]:
meanX = TestX[TestX['population'] != 0]
mean = meanX['population'].mean()
mean

290.9541342981803

In [38]:
TestX.loc[(TestX['population'] == 0), 'population'] = mean
TestX['population']

0         321.0
1         300.0
2         500.0
3         250.0
4          60.0
          ...
14845      20.0
14846    2960.0
14847     200.0
14848     150.0
14849      40.0
Name: population, Length: 14850, dtype: float64

## –ì–æ–¥ –ø–æ—Å—Ç—Ä–æ–π–∫–∏

In [39]:
val = TrainingX.loc[TrainingX['construction_year'] == 0]
val

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
4,19728,0.0,2011,Action In A,0,Artisan,31.130847,-5.885572,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
6,19816,0.0,2012,Dwsp,0,DWSP,33.362410,-5.885572,Kwa Ngomho,0,...,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
7,54551,0.0,2012,Rwssp,0,DWE,32.620617,-5.885572,Tushirikiane,0,...,unknown,milky,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
8,53934,0.0,2012,Wateraid,0,Water Aid,32.711100,-5.885572,Kwa Ramadhan Musa,0,...,never pay,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump
9,46144,0.0,2011,Isingiro Ho,0,Artisan,30.626991,-5.885572,Kwapeto,0,...,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59384,72148,0.0,2011,Concern,0,CONCERN,30.667805,-5.885572,Chamkube,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
59392,40607,0.0,2011,Government Of Tanzania,0,Government,33.009440,-8.520888,Benard Charles,0,...,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59393,48348,0.0,2012,Private,0,Private,33.866852,-5.885572,Kwa Peter,0,...,per bucket,soft,good,insufficient,insufficient,dam,dam,surface,other,other
59397,37057,0.0,2011,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump

In [40]:
meanX = TrainingX[TrainingX['construction_year'] != 0]
mean = meanX['construction_year'].mean()
mean

1996.8146855857951

In [41]:
TrainingX.loc[(TrainingX['construction_year'] == 0), 'construction_year'] = mean
TrainingX['construction_year']

0        1999.000000
1        2010.000000
2        2009.000000
3        1986.000000
4        1996.814686
            ...
59395    1999.000000
59396    1996.000000
59397    1996.814686
59398    1996.814686
59399    2002.000000
Name: construction_year, Length: 59400, dtype: float64

In [42]:
meanX = TestX[TestX['construction_year'] != 0]
mean = meanX['construction_year'].mean()
mean

1997.0979144942648

In [43]:
TestX.loc[(TestX['construction_year'] == 0), 'construction_year'] = mean
TestX['construction_year']

0        2012.0
1        2000.0
2        2010.0
3        1987.0
4        2000.0
          ...
14845    1988.0
14846    1994.0
14847    2010.0
14848    2009.0
14849    2008.0
Name: construction_year, Length: 14850, dtype: float64

## –¢–∏–ø –¥–æ–±—ã—á–∏ –≤–æ–¥—ã, –∫–æ—Ç–æ—Ä—É—é –∏—Å–ø–æ–ª—å–∑—É–µ—Ç –≤–æ–¥–æ–Ω–∞–ø–æ—Ä–Ω–∞—è —Ç–æ—á–∫–∞

In [44]:
val = TrainingX['extraction_type'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [45]:
val = TrainingX['extraction_type_group'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [46]:
val = TrainingX['extraction_type_class'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

–î–∞–Ω–Ω—ã–µ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –∫–∞—á–µ—Å—Ç–≤–µ–Ω–Ω—ã–µ, –Ω–æ –±–∞–ª–∞–Ω—Å –º–µ–∂–¥—É –¥–µ—Ç–∞–ª–∏–∑–∞—Ü–∏–µ–π –∏ —Ä–∞–≤–Ω–æ–º–µ—Ä–Ω–æ—Å—Ç—å—é —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –Ω–∞–∏–ª—É—á—à–∏–π —É extraction_type_group. –≠—Ç–æ—Ç –ø—Ä–∏–∑–Ω–∞–∫ –º—ã –≤–∫–ª—é—á–∏–º –≤ –º–æ–¥–µ–ª—å, –Ω–æ –≤ —Ü–µ–ª–æ–º –Ω–∞–∏–ª—É—á—à–∏–π –≤—ã–±–æ—Ä –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç—Å—è —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞–ª—å–Ω–æ.

In [47]:
val = TrainingX['extraction_type_group'].value_counts()
val1 = TestX['extraction_type_group'].value_counts()
val = val.append(val1)
val

gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
gravity             6483
nira/tanira         2051
other               1672
submersible         1593
swn 80               918
mono                 763
india mark ii        629
afridev              438
rope pump            121
other handpump        83
india mark iii        37
wind-powered          35
other motorpump       27
Name: extraction_type_group, dtype: int64

In [48]:
val = TrainingX['extraction_type_group'].value_counts()
val

gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [49]:
for i in range(0, len(val)):
    val[i] = i
    
for ii in range(0, len(val)):
    TrainingX['extraction_type_group'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)
    TestX['extraction_type_group'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)

In [50]:
TrainingX['extraction_type_group']

0        0
1        0
2        0
3        3
4        0
        ..
59395    0
59396    0
59397    4
59398    1
59399    1
Name: extraction_type_group, Length: 59400, dtype: int64

In [51]:
TestX['extraction_type_group']

0        2
1        0
2        2
3        2
4        0
        ..
14845    5
14846    1
14847    0
14848    0
14849    0
Name: extraction_type_group, Length: 14850, dtype: int64

## –ö–∞–∫ —É–ø—Ä–∞–≤–ª—è–µ—Ç—Å—è –≤–æ–¥–æ–∫–∞—á–∫–∞

In [52]:
val = TrainingX['management'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [53]:
val = TrainingX['management_group'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64

–ö–∞–∫ –±–æ–ª–µ–µ –ø–æ–ª–Ω—ã–π –∏ —Ö–æ—Ä–æ—à–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫, –≤–∫–ª—é—á–∞–µ–º –≤ –º–æ–¥–µ–ª—å management

In [54]:
val = TrainingX['management'].value_counts()
val1 = TestX['management'].value_counts()
val = val.append(val1)
val

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
vwc                 10117
wug                  1593
water board           755
wua                   583
private operator      533
parastatal            461
other                 239
water authority       219
company               174
unknown               122
other - school         27
trust                  27
Name: management, dtype: int64

In [55]:
val = TrainingX['management'].value_counts()

In [56]:
for i in range(0, len(val)):
    val[i] = i
    
for ii in range(0, len(val)):
    TrainingX['management'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)
    TestX['management'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)

In [57]:
TestX['management']

0        5
1        0
2        0
3        0
4        2
        ..
14845    0
14846    0
14847    0
14848    0
14849    0
Name: management, Length: 14850, dtype: int64

## –°–∫–æ–ª—å–∫–æ —Å—Ç–æ–∏—Ç –≤–æ–¥–∞

In [58]:
val = TrainingX['payment'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

In [59]:
val = TrainingX['payment_type'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

–ê–±—Å–æ–ª—é—Ç–Ω–æ –¥—É–±–ª–∏—Ä—É—é—â–∏–µ –¥—Ä—É–≥ –¥—Ä—É–≥–∞ –¥–∞–Ω–Ω—ã–µ, –ø—Ä–∏—Ç–æ–º –≤–µ—Å—å–º–∞ –∫–∞—á–µ—Å—Ç–≤–µ–Ω–Ω—ã–µ. –í–∫–ª—é—á–∏–º –≤ –º–æ–¥–µ–ª—å payment

In [60]:
val = TrainingX['payment'].value_counts()
val1 = TestX['payment'].value_counts()
val = val.append(val1)
val

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
never pay                 6364
pay per bucket            2281
pay monthly               2097
unknown                   1992
pay annually               928
pay when scheme fails      928
other                      260
Name: payment, dtype: int64

In [61]:
val = TrainingX['payment'].value_counts()

In [62]:
for i in range(0, len(val)):
    val[i] = i
    
for ii in range(0, len(val)):
    TrainingX['payment'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)
    TestX['payment'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)

In [63]:
TestX['payment']

0        0
1        0
2        0
3        3
4        2
        ..
14845    0
14846    5
14847    0
14848    0
14849    0
Name: payment, Length: 14850, dtype: int64

## –ö–∞—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã

In [64]:
val = TrainingX['water_quality'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [65]:
val = TrainingX['quality_group'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

–ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ —Å –ø—Ä–µ–¥—ã–¥—É—â–∏–º –ø—É–Ω–∫—Ç–æ–º, –≤—ã–±–∏—Ä–∞–µ–º –±–æ–ª–µ–µ –ø–æ–ª–Ω—ã–π water_quality

In [66]:
val = TrainingX['water_quality'].value_counts()
val1 = TestX['water_quality'].value_counts()
val = val.append(val1)
val

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
soft                  12687
salty                  1226
unknown                 469
milky                   201
coloured                133
salty abandoned          84
fluoride                 44
fluoride abandoned        6
Name: water_quality, dtype: int64

In [67]:
val = TrainingX['water_quality'].value_counts()

In [68]:
for i in range(0, len(val)):
    val[i] = i
    
for ii in range(0, len(val)):
    TrainingX['water_quality'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)
    TestX['water_quality'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)

In [69]:
TestX['water_quality']

0        0
1        0
2        0
3        0
4        0
        ..
14845    0
14846    1
14847    0
14848    0
14849    0
Name: water_quality, Length: 14850, dtype: int64

## –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã

In [70]:
val = TrainingX['quantity'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64

In [71]:
val = TrainingX['quantity_group'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64

–î—É–±–ª–∏—Ä—É—é—â–∏–µ—Å—è –¥–∞–Ω–Ω—ã–µ. –í—ã–±–∏—Ä–∞–µ–º –ª—é–±—ã–µ.

In [72]:
val = TrainingX['quantity'].value_counts()
val1 = TestX['quantity'].value_counts()
val = val.append(val1)
val

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
enough           8336
insufficient     3767
dry              1536
seasonal         1025
unknown           186
Name: quantity, dtype: int64

In [73]:
val = TrainingX['quantity'].value_counts()

In [74]:
for i in range(0, len(val)):
    val[i] = i
    
for ii in range(0, len(val)):
    TrainingX['quantity'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)
    TestX['quantity'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)

In [75]:
TestX['quantity']

0        3
1        1
2        1
3        2
4        0
        ..
14845    0
14846    1
14847    1
14848    1
14849    2
Name: quantity, Length: 14850, dtype: int64

## –ò—Å—Ç–æ—á–Ω–∏–∫ –≤–æ–¥—ã

In [76]:
val = TrainingX['source'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [77]:
val = TrainingX['source_type'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [78]:
val = TrainingX['source_class'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64

–í—ã–±–∏—Ä–∞–µ–º source –∫–∞–∫ —Å–∞–º—ã–π –¥–µ—Ç–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω—ã–π.

In [79]:
val = TrainingX['source'].value_counts()
val1 = TestX['source'].value_counts()
val = val.append(val1)
val

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
shallow well             4316
spring                   4195
machine dbh              2747
river                    2352
rainwater harvesting      568
hand dtw                  234
lake                      185
dam                       184
other                      49
unknown                    20
Name: source, dtype: int64

In [80]:
val = TrainingX['source'].value_counts()

In [81]:
for i in range(0, len(val)):
    val[i] = i
    
for ii in range(0, len(val)):
    TrainingX['source'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)
    TestX['source'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)

In [82]:
TestX['source']

0        4
1        0
2        4
3        1
4        0
        ..
14845    3
14846    1
14847    7
14848    3
14849    0
Name: source, Length: 14850, dtype: int64

## –í–∏–¥ –≤–æ–¥–æ–µ–º–∞

In [83]:
val = TrainingX['waterpoint_type'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [84]:
val = TrainingX['waterpoint_type_group'].value_counts()
val.to_csv('./contest/res.csv',index = True)
val

communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

–ö–∞–∫ –∏ –≤ –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –ø—É–Ω–∫—Ç–∞—Ö: waterpoint_type

In [85]:
val = TrainingX['waterpoint_type'].value_counts()
val1 = TestX['waterpoint_type'].value_counts()
val = val.append(val1)
val

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
communal standpipe              7106
hand pump                       4396
other                           1630
communal standpipe multiple     1508
improved spring                  175
cattle trough                     34
dam                                1
Name: waterpoint_type, dtype: int64

In [86]:
val = TrainingX['waterpoint_type'].value_counts()

In [87]:
for i in range(0, len(val)):
    val[i] = i
    
for ii in range(0, len(val)):
    TrainingX['waterpoint_type'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)
    TestX['waterpoint_type'].replace(to_replace = val.keys()[ii], value = ii, inplace = True)

In [88]:
TestX['waterpoint_type']

0        2
1        0
2        2
3        2
4        0
        ..
14845    0
14846    1
14847    0
14848    0
14849    0
Name: waterpoint_type, Length: 14850, dtype: int64

# –ü–æ—Å—Ç—Ä–æ–π–∫–∞ –º–æ–¥–µ–ª–∏

## –ü—Ä–æ–≤–µ—Ä–∫–∞

–ü–æ—Å–º–æ—Ç—Ä–∏–º, –∫–∞–∫ –∏–∑–º–µ–Ω–∏–ª—Å—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç. –°–¥–µ–ª–∞–µ–º –≤—Å—ë —Ç–æ –∂–µ —Å–∞–º–æ–µ, —á—Ç–æ –¥–µ–ª–∞–ª–∏ –≤ –Ω–∞—á–∞–ª–µ.

In [272]:
TrainX1 = TrainingX[:29700]
TrainY1 = TrainingY[:29700]
TestX2 = TrainingX[29700:]
TestY2 = TrainingY[29700:]
TestY = TrainingY[29700:]

In [273]:
model = GradientBoostingClassifier(
        n_estimators=1000,
        max_depth=6,
        #subsample=0.5,
        max_features="auto"
        # random_state=seed
    )

In [274]:
TestY2

          id status_group
29700  62962            1
29701  35938            1
29702   5107            0
29703  64811            1
29704   8958            1
...      ...          ...
59395  60739            0
59396  27263            0
59397  37057            0
59398  31282            0
59399  26348            0

[29700 rows x 2 columns]

In [275]:
TestX2

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
29700,62962,0.0,2013,Danida,1459,DANIDA,34.953500,-10.991437,Kwa Mzee Lipinda,0,...,unknown,0,good,2,dry,0,spring,groundwater,0,communal standpipe
29701,35938,0.0,2011,Government Of Tanzania,0,Gover,36.575890,-6.699203,Kwa Kaf,0,...,per bucket,0,good,1,insufficient,0,spring,groundwater,0,communal standpipe
29702,5107,10.0,2013,Germany Republi,1415,CES,37.161834,-5.885572,Area Three Namba 22,0,...,per bucket,0,good,0,enough,0,spring,groundwater,0,communal standpipe
29703,64811,0.0,2011,Ded,991,DWE,34.731429,-10.305670,none,0,...,never pay,0,good,2,dry,0,spring,groundwater,0,communal standpipe
29704,8958,0.0,2011,Water,0,Commu,35.987864,-6.218267,Kwa Tangoo,0,...,per bucket,0,good,2,dry,2,borehole,groundwater,3,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013,Germany Republi,1210,CES,37.169807,-5.885572,Area Three Namba 27,0,...,per bucket,0,good,0,enough,0,spring,groundwater,0,communal standpipe
59396,27263,4700.0,2011,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,0,good,0,enough,3,river/lake,surface,0,communal standpipe
59397,37057,0.0,2011,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,6,fluoride,0,enough,2,borehole,groundwater,1,hand pump
59398,31282,0.0,2011,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,0,good,1,insufficient,1,shallow well,groundwater,1,hand pump
59399,26348,0.0,2011,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,on failure,1,salty,0,enough,1,shallow well,groundwater,1,hand pump

In [276]:
ctrainX = TrainX1[['date_recorded',
                   'longitude',
                   'latitude',
                   'basin',
                   'region',
                   'lga',
                   'population',
                   'construction_year',
                   'extraction_type_group',
                   'management',
                   'payment',
                   'water_quality',
                   'quantity',
                   'source',
                   'waterpoint_type'
                  ]]
#ctrainX = ctrainX.values()
ctrainX = ctrainX.to_numpy()
ctrainX = ctrainX.astype(float)
ctrainX

array([[ 2.01100000e+03,  3.49380928e+01, -9.85632177e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 2.01300000e+03,  3.46987661e+01, -5.88557234e+00, ...,
         1.00000000e+00,  4.00000000e+00,  0.00000000e+00],
       [ 2.01300000e+03,  3.74606645e+01, -5.88557234e+00, ...,
         0.00000000e+00,  7.00000000e+00,  3.00000000e+00],
       ...,
       [ 2.01100000e+03,  3.38377643e+01, -9.22707331e+00, ...,
         0.00000000e+00,  3.00000000e+00,  0.00000000e+00],
       [ 2.01100000e+03,  3.59995058e+01, -5.88557234e+00, ...,
         1.00000000e+00,  2.00000000e+00,  0.00000000e+00],
       [ 2.01300000e+03,  3.68212405e+01, -5.88557234e+00, ...,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00]])

In [277]:
TrainY1.replace(to_replace="functional", value=0, inplace=True)
TrainY1.replace(to_replace="non functional", value=1, inplace=True)
TrainY1.replace(to_replace="functional needs repair", value=2, inplace=True)

ctrainY = TrainY1
ctrainY = ctrainY.to_numpy()
ctrainY = ctrainY[:, 1]
ctrainY = ctrainY.astype(float)
ctrainY

c:\python3\lib\site-packages\pandas\core\frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

array([0., 0., 0., ..., 1., 1., 0.])

In [278]:
ctestX = TestX2[['date_recorded',
                   'longitude',
                   'latitude',
                   'basin',
                   'region',
                   'lga',
                   'population',
                   'construction_year',
                   'extraction_type_group',
                   'management',
                   'payment',
                   'water_quality',
                   'quantity',
                   'source',
                   'waterpoint_type'
                  ]]
ctestX = ctestX.to_numpy()
ctestX = ctestX.astype(float)

In [279]:
model.fit(ctrainX,ctrainY)

#predictions = model.predict_proba(testX)[:,1]
predictions = model.predict_proba(ctestX)
predictions

array([[2.28218348e-03, 9.97369777e-01, 3.48039643e-04],
       [4.16725279e-01, 3.90585669e-01, 1.92689052e-01],
       [9.62815986e-01, 3.20338659e-02, 5.15014828e-03],
       ...,
       [5.46834491e-01, 1.44204361e-01, 3.08961148e-01],
       [9.62442378e-01, 2.84343552e-02, 9.12326650e-03],
       [8.42114940e-01, 7.60141339e-02, 8.18709266e-02]])

In [280]:
answ = predictions[:, 0].astype(int)
for ii in range (0, len(predictions)):
    answ[ii] = predictions[ii].argmax();
answ

array([1, 0, 0, ..., 0, 0, 0])

In [281]:
TestY['status_group'] = answ
TestY

c:\python3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          id  status_group
29700  62962             1
29701  35938             0
29702   5107             0
29703  64811             1
29704   8958             1
...      ...           ...
59395  60739             0
59396  27263             0
59397  37057             0
59398  31282             0
59399  26348             0

[29700 rows x 2 columns]

In [282]:
TestY2

          id status_group
29700  62962            1
29701  35938            1
29702   5107            0
29703  64811            1
29704   8958            1
...      ...          ...
59395  60739            0
59396  27263            0
59397  37057            0
59398  31282            0
59399  26348            0

[29700 rows x 2 columns]

In [283]:
TestY2.replace(to_replace="functional", value=0, inplace=True)
TestY2.replace(to_replace="non functional", value=1, inplace=True)
TestY2.replace(to_replace="functional needs repair", value=2, inplace=True)
TestY2

c:\python3\lib\site-packages\pandas\core\frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

          id status_group
29700  62962            1
29701  35938            1
29702   5107            0
29703  64811            1
29704   8958            1
...      ...          ...
59395  60739            0
59396  27263            0
59397  37057            0
59398  31282            0
59399  26348            0

[29700 rows x 2 columns]

In [284]:
(TestY2['status_group'] == TestY['status_group']).sum()

23389

In [292]:
acc = 100 * (TestY2['status_group'] == TestY['status_group']).sum() / len(TestY2)
print(acc,'%')

78.75084175084174 %

# –ó–∞–ø–∏—Å—å –∏—Ç–æ–≥–æ–≤–æ–≥–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞

In [286]:
TrainX = TrainingX
TrainY = TrainingY
TestX = TestX

In [287]:
model = GradientBoostingClassifier(
        n_estimators=1000,
        max_depth=6,
        #subsample=0.5,
        max_features="auto"
        # random_state=seed
    )

In [288]:
ctrainX = TrainX[['date_recorded',
                   'longitude',
                   'latitude',
                   'basin',
                   'region',
                   'lga',
                   'population',
                   'construction_year',
                   'extraction_type_group',
                   'management',
                   'payment',
                   'water_quality',
                   'quantity',
                   'source',
                   'waterpoint_type'
                  ]]
#ctrainX = ctrainX.values()
ctrainX = ctrainX.to_numpy()
ctrainX = ctrainX.astype(float)
ctrainX

array([[ 2.01100000e+03,  3.49380928e+01, -9.85632177e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 2.01300000e+03,  3.46987661e+01, -5.88557234e+00, ...,
         1.00000000e+00,  4.00000000e+00,  0.00000000e+00],
       [ 2.01300000e+03,  3.74606645e+01, -5.88557234e+00, ...,
         0.00000000e+00,  7.00000000e+00,  3.00000000e+00],
       ...,
       [ 2.01100000e+03,  3.40170871e+01, -8.75043433e+00, ...,
         0.00000000e+00,  2.00000000e+00,  1.00000000e+00],
       [ 2.01100000e+03,  3.58613153e+01, -6.37857327e+00, ...,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       [ 2.01100000e+03,  3.81040482e+01, -6.74746425e+00, ...,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+00]])

In [289]:
TrainY.replace(to_replace="functional", value=0, inplace=True)
TrainY.replace(to_replace="non functional", value=1, inplace=True)
TrainY.replace(to_replace="functional needs repair", value=2, inplace=True)

ctrainY = TrainY
ctrainY = ctrainY.to_numpy()
ctrainY = ctrainY[:, 1]
ctrainY = ctrainY.astype(float)
ctrainY

array([0., 0., 0., ..., 0., 0., 0.])

In [290]:
ctestX = TestX[['date_recorded',
                   'longitude',
                   'latitude',
                   'basin',
                   'region',
                   'lga',
                   'population',
                   'construction_year',
                   'extraction_type_group',
                   'management',
                   'payment',
                   'water_quality',
                   'quantity',
                   'source',
                   'waterpoint_type'
                  ]]
ctestX = ctestX.to_numpy()
ctestX = ctestX.astype(float)

In [291]:
model.fit(ctrainX, ctrainY)

#predictions = model.predict_proba(testX)[:,1]
predictions = model.predict_proba(ctestX)

In [293]:
answ = predictions[:, 0].astype(int)
for ii in range (0, len(predictions)):
    answ[ii] = predictions[ii].argmax();

–ó–∞–ø–∏—Å—ã–≤–∞–µ–º –æ—Ç–≤–µ—Ç –≤ —Ñ–∞–π–ª

In [294]:
#new_data = TestX[['id']].copy()

In [295]:
TestY = pd.read_csv('./contest/SubmissionFormat.csv', sep=',',index_col = False)
TestY['status_group'] = answ

In [296]:
TestY.replace(to_replace=0, value="functional", inplace=True)
TestY.replace(to_replace=1, value="non functional", inplace=True)
TestY.replace(to_replace=2, value="functional needs repair", inplace=True)
TestY

          id    status_group
0      50785      functional
1      51630      functional
2      17168      functional
3      45559  non functional
4      49871      functional
...      ...             ...
14845  39307  non functional
14846  18990      functional
14847  28749      functional
14848  33492      functional
14849  68707  non functional

[14850 rows x 2 columns]

In [297]:
answdf = TestY
answdf.to_csv('./contest/output.csv', sep=',',index = False)