# –ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –∑–∞–¥–∞—á–∏

–ù–∞ —Å–µ–≥–æ–¥–Ω—è—à–Ω–∏–π –¥–µ–Ω—å –º–∞—à–∏–Ω–Ω–æ–µ –æ–±—É—á–µ–Ω–∏–µ —Ä–µ—à–∞–µ—Ç –∞–±—Å–æ–ª—é—Ç–Ω–æ —Ä–∞–∑–Ω—ã–µ –∑–∞–¥–∞—á–∏ –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏ –≤–æ –≤—Å–µ—Ö –æ–±–ª–∞—Å—Ç—è—Ö –Ω–∞—à–µ–π –∂–∏–∑–Ω–∏. –ü–ª–∞—Ç—Ñ–æ—Ä–º–∞ DataDriven –æ—Ä–≥–∞–Ω–∏–∑–æ–≤—ã–≤–∞–µ—Ç –∫–æ–Ω—Ç–µ—Å—Ç—ã –ø–æ –º–∞—à–∏–Ω–Ω–æ–º—É –æ–±—É—á–µ–Ω–∏—é –¥–ª—è —Ä–µ—à–µ–Ω–∏—è —Ä–µ–∞–ª—å–Ω—ã—Ö –∑–∞–¥–∞—á –æ–±—â–µ—Å—Ç–≤–µ–Ω–Ω—ã—Ö –∏ –Ω–µ–∫–æ–º–º–µ—Ä—á–µ—Å–∫–∏—Ö –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–π –ø–æ –≤—Å–µ–º—É –º–∏—Ä—É, –ø—Ä–∏–º–µ–Ω—è—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –ø–æ–±–µ–¥–∏—Ç–µ–ª–µ–π. –î–∞–Ω–Ω—ã–π –ø—Ä–æ–µ–∫—Ç –ø—Ä–∏–∑–≤–∞–Ω —Ä–µ—à–∏—Ç—å –ø—Ä–æ–±–ª–µ–º—ã –≤–æ–¥–æ—Å–Ω–∞–±–∂–µ–Ω–∏—è –≤ —Å—Ç—Ä–∞–Ω–µ –¢–∞–Ω–∑–∞–Ω–∏—è –≤ –í–æ—Å—Ç–æ—á–Ω–æ–π –ê—Ñ—Ä–∏–∫–µ. –í–æ–¥–∞ –≤ –¢–∞–Ω–∑–∞–Ω–∏–∏ –¥–æ–±—ã–≤–∞–µ—Ç—Å—è —Å –ø–æ–º–æ—â—å—é –≤–æ–¥–æ–∫–∞—á–µ–∫, –∏ –æ–Ω–∏ —á–∞—Å—Ç–æ –≤—ã—Ö–æ–¥—è—Ç –∏–∑ —Å—Ç—Ä–æ—è, –æ—Å—Ç–∞–≤–ª—è—è –ø–æ—Å–µ–ª–µ–Ω–∏—è –±–µ–∑ –≤–æ–¥—ã. –ó–∞–¥–∞—á–∞ —É—á–∞—Å—Ç–Ω–∏–∫–æ–≤ - –ø–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º –∏ —Å—Ç–∞—Ç—É—Å—É –Ω–µ–∫–æ—Ç–æ—Ä–æ–≥–æ –º–Ω–æ–∂–µ—Å—Ç–≤–∞ –≤–æ–¥–æ–∫–∞—á–µ–∫ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –ø–æ–ª–æ–º–∫–∏ –∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç—å –æ–±—Å–ª—É–∂–∏–≤–∞–Ω–∏—è –¥—Ä—É–≥–∏—Ö –≤–æ–¥–æ–∫–∞—á–µ–∫. 

–í –¥–∞–Ω–Ω–æ–π –∑–∞–¥–∞—á–µ –º—ã –Ω–µ —Ç–æ–ª—å–∫–æ —Å–¥–µ–ª–∞–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –æ —Å–æ—Å—Ç–æ—è–Ω–∏–∏ –≤–æ–¥–æ–∫–∞—á–µ–∫, –Ω–æ –∏ –æ—Ü–µ–Ω–∏–º, –∫–∞–∫ –∫–∞—á–µ—Å—Ç–≤–æ –¥–∞–Ω–Ω—ã—Ö –≤–ª–∏—è–µ—Ç –Ω–∞ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ.

–°—Å—ã–ª–∫–∞ –Ω–∞ –∫–æ–Ω—Ç–µ—Å—Ç: https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/

# –û–ø–∏—Å–∞–Ω–∏–µ –º–µ—Ç–æ–¥–∞

–ó–∞–¥–∞—á–∞ –±—É–¥–µ—Ç —Ä–µ—à–∞—Ç—å—Å—è —Å –ø–æ–º–æ—â—å—é –≥—Ä–∞–¥–∏–µ–Ω—Ç–Ω–æ–≥–æ –±—É—Å—Ç–∏–Ω–≥–∞ - –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –æ–¥–Ω–æ–∏–º—ë–Ω–Ω—ã–π –º–µ—Ç–æ–¥ GradientBoosting –∏–∑ –ø–∞–∫–µ—Ç–∞ sklearn.

## –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∞—è —Å—É—Ç—å –∑–∞–¥–∞—á–∏

–ü—É—Å—Ç—å —É –Ω–∞—Å —Å—É—â–µ—Å—Ç–≤—É–µ—Ç –Ω–µ–∫–æ—Ç–æ—Ä—ã–π –Ω–∞–±–æ—Ä –ø–∞—Ä {(ùë•ùëñ,ùë¶ùëñ)}, i=1..n, –≥–¥–µ x - —ç—Ç–æ –ø—Ä–∏–∑–Ω–∞–∫, y - —Ü–µ–ª–µ–≤–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è. –ó–∞–¥–∞—á–∞ —Å–≤–æ–¥–∏—Ç—Å—è –∫ —Ç–æ–º—É, —á—Ç–æ–±—ã –≤–æ—Å—Å—Ç–∞–Ω–æ–≤–∏—Ç—å —Ñ—É–Ω–∫—Ü–∏—é y=F(x) - —Ñ—É–Ω–∫—Ü–∏—é, –º–∏–Ω–∏–º–∏–∑–∏—Ä—É—é—â—É—é —Ñ—É–Ω–∫—Ü–∏—é –ø–æ—Ç–µ—Ä—å L(x, F(x))

## –ì—Ä–∞–¥–∏–µ–Ω—Ç–Ω—ã–π –±—É—Å—Ç–∏–Ω–≥

–ú–µ—Ç–æ–¥ –≥—Ä–∞–¥–∏–µ–Ω—Ç–Ω–æ–≥–æ –±—É—Å—Ç–∏–Ω–≥–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç –ø–æ—Å—Ç—Ä–æ–∏—Ç—å –∏—Ç–æ–≥–æ–≤—É—é –º–æ–¥–µ–ª—å F(x) –∫–∞–∫ –≤–∑–≤–µ—à–µ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é —Å–ª–∞–±—ã—Ö –º–æ–¥–µ–ª–µ–π Fm(x), m = 1..M. –ö –∫–∞–∂–¥–æ–π –ø—Ä–µ–¥—ã–¥—É—â–µ–π —Å—É–º–º–µ Fm-1(x) –¥–æ–±–∞–≤–ª—è–µ—Ç—Å—è —á–∞—Å—Ç–Ω–∞—è –ø—Ä–æ–∏–∑–≤–æ–¥–Ω–∞—è –æ—Ç —Ñ—É–Ω–∫—Ü–∏–∏ L(x, Fm(x)) –ø–æ Fm(x) —Å–æ –∑–Ω–∞–∫–æ–º –º–∏–Ω—É—Å - –¥–ª—è –º–∏–Ω–∏–º–∏–∑–∞—Ü–∏–∏ –ø–æ—Ç–µ—Ä—å. –ù–∞–∑–æ–≤—ë–º —ç—Ç—É –ø—Ä–æ–∏–∑–≤–æ–¥–Ω—É—é hm(x). –ù–µ–æ–±—Ö–æ–¥–∏–º–æ —Ç–∞–∫–∂–µ, —á—Ç–æ–±—ã —Ñ—É–Ω–∫—Ü–∏—è L(x, Fm(x)) –±—ã–ª–∞ –¥–∏—Ñ—Ñ–µ—Ä–µ–Ω—Ü–∏—Ä—É–µ–º–∞ –≤ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –±–æ–ª—å—à–æ–π –æ–±–ª–∞—Å—Ç–∏.

In [1]:
import pandas as pd
import numpy as np
import math
from sklearn.ensemble import GradientBoostingClassifier

–î–ª—è —Ä–∞–±–æ—Ç—ã –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –±–∏–±–ª–∏–æ—Ç–µ–∫—É Pandas. –í—ã–≤–µ–¥–µ–º —Å–ª–µ–¥—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ:
TrainingX - –º–Ω–æ–∂–µ—Å—Ç–≤–æ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ - –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞—Ö –≤–æ–¥–æ–∫–∞—á–µ–∫
TrainingY - –º–Ω–æ–∂–µ—Å—Ç–≤–æ —Ü–µ–ª–µ–≤—ã—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö - –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ —Å–æ—Å—Ç–æ—è–Ω–∏–∏ –≤–æ–¥–æ–∫–∞—á–µ–∫
TestX - –º–Ω–æ–∂–µ—Å—Ç–≤–æ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ - –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞—Ö –≤–æ–¥–æ–∫–∞—á–µ–∫, –ø–æ –∫–æ—Ç–æ—Ä—ã–º —Ç—Ä–µ–±—É–µ—Ç—Å—è —Å–æ–≤–µ—Ä—à–∏—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ.

In [2]:
TrainingX = pd.read_csv('./contest/trainingsetvalues.csv', sep=',')
TrainingY = pd.read_csv('./contest/trainingsetlabels.csv', sep=',')
TestX = pd.read_csv('./contest/testsetvalues.csv', sep=',')

–ü–æ—Å–º–æ—Ç—Ä–∏–º, —á—Ç–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é—Ç –∏–∑ —Å–µ–±—è –¥–∞–Ω–Ω—ã–µ –æ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞—Ö –≤–æ–¥–æ–∫–∞—á–µ–∫:

In [3]:
print(type(TrainingX))

<class 'pandas.core.frame.DataFrame'>

In [4]:
TrainingX.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

# –ü–æ—è—Å–Ω–µ–Ω–∏—è –∫ –¥–∞–Ω–Ω—ã–º

–ü–µ—Ä–µ—á–µ–Ω—å —Å—Ç–æ–ª–±—Ü–æ–≤ —Å —Ä–∞—Å—à–∏—Ñ—Ä–æ–≤–∫–æ–π:
amount_tsh - –û–±—â–∏–π —Å—Ç–∞—Ç–∏—á–µ—Å–∫–∏–π –Ω–∞–ø–æ—Ä (–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã, –¥–æ—Å—Ç—É–ø–Ω–æ–µ –¥–ª—è –≤–æ–¥–æ–∫–∞—á–∫–∏)
date_recorded - –î–∞—Ç–∞ –≤–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö
funder - –ö—Ç–æ —Ñ–∏–Ω–∞–Ω—Å–∏—Ä–æ–≤–∞–ª –∫–æ–ª–æ–¥–µ—Ü
gps_height - –ì–ª—É–±–∏–Ω–∞ —Å–∫–≤–∞–∂–∏–Ω—ã
installer - –û—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏—è, –≤—ã—Ä—ã–≤—à–∞—è —Å–∫–≤–∞–∂–∏–Ω—É
longitude - GPS-–∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞
latitude - GPS-–∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞
wpt_name - –ù–∞–∑–≤–∞–Ω–∏–µ –≤–æ–¥–æ–µ–º–∞, –µ—Å–ª–∏ –æ–Ω –µ—Å—Ç—å
num_private -
basin - –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–æ–¥–æ—ë–º–∞

subvillage - –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –Ω–∞—Å–µ–ª—ë–Ω–Ω–æ–≥–æ –ø—É–Ω–∫—Ç–∞
region - –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ —Ä–µ–≥–∏–æ–Ω–∞
region_code - –ö–æ–¥ —Ä–µ–≥–∏–æ–Ω–∞
district_code - –ö–æ–¥ —Ä–∞–π–æ–Ω–∞
lga - –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ
ward - –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ
population - –ù–∞—Å–µ–ª–µ–Ω–∏–µ –≤–æ–∫—Ä—É–≥ —Å–∫–≤–∞–∂–∏–Ω—ã
public_meeting - –í–µ—Ä–Ω–æ/–õ–æ–∂–Ω–æ
recorded_by - –ì—Ä—É–ø–ø–æ–≤–æ–π –≤–≤–æ–¥ —ç—Ç–æ–π —Å—Ç—Ä–æ–∫–∏ –¥–∞–Ω–Ω—ã—Ö
scheme_management - –ö—Ç–æ —É–ø—Ä–∞–≤–ª—è–µ—Ç –≤–æ–¥–æ–∫–∞—á–∫–æ–π
scheme_name - –ö—Ç–æ —É–ø—Ä–∞–≤–ª—è–µ—Ç –≤–æ–¥–æ–∫–∞—á–∫–æ–π
permit - –†–∞–∑—Ä–µ—à–µ–Ω –ª–∏ –≤–æ–¥–æ–∑–∞–±–æ—Ä
construction_year - –ì–æ–¥ –ø–æ—Å—Ç—Ä–æ–π–∫–∏ –≤–æ–¥–æ–∑–∞–±–æ—Ä–∞
extraction_type - –¢–∏–ø –¥–æ–±—ã—á–∏ –≤–æ–¥—ã, –∫–æ—Ç–æ—Ä—É—é –∏—Å–ø–æ–ª—å–∑—É–µ—Ç –≤–æ–¥–æ–Ω–∞–ø–æ—Ä–Ω–∞—è —Ç–æ—á–∫–∞
extraction_type_group - –ü–æ–¥–≤–∏–¥ –¥–æ–±—ã—á–∏ –≤–æ–¥—ã, –∫–æ—Ç–æ—Ä—É—é –∏—Å–ø–æ–ª—å–∑—É–µ—Ç –≤–æ–¥–æ–Ω–∞–ø–æ—Ä–Ω–∞—è —Ç–æ—á–∫–∞
extraction_type_class - –ö–ª–∞—Å—Å –¥–æ–±—ã—á–∏ –≤–æ–¥—ã, –∫–æ—Ç–æ—Ä—É—é –∏—Å–ø–æ–ª—å–∑—É–µ—Ç –≤–æ–¥–æ–Ω–∞–ø–æ—Ä–Ω–∞—è —Ç–æ—á–∫–∞
management - –ö–∞–∫ —É–ø—Ä–∞–≤–ª—è–µ—Ç—Å—è –≤–æ–¥–æ–∫–∞—á–∫–∞
management_group - –ö–∞–∫ —É–ø—Ä–∞–≤–ª—è–µ—Ç—Å—è –≤–æ–¥–æ–∫–∞—á–∫–∞
payment - –°–∫–æ–ª—å–∫–æ —Å—Ç–æ–∏—Ç –≤–æ–¥–∞
payment_type - –°–∫–æ–ª—å–∫–æ —Å—Ç–æ–∏—Ç –≤–æ–¥–∞
water_quality - –ö–∞—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã
quality_group - –ö–∞—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã
quantity - –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã
quantity_group - –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–æ–¥—ã
source - –ò—Å—Ç–æ—á–Ω–∏–∫ –≤–æ–¥—ã
source_type - –ò—Å—Ç–æ—á–Ω–∏–∫ –≤–æ–¥—ã
source_class - –ò—Å—Ç–æ—á–Ω–∏–∫ –≤–æ–¥—ã
waterpoint_type - –í–∏–¥ –≤–æ–¥–æ–µ–º–∞
waterpoint_type_group - –í–∏–¥ –≤–æ–¥–æ–µ–º–∞

# –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –ø–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º —Å—Ç—Ä–æ–∫–æ–≤—ã—Ö —Ç–∏–ø–æ–≤
–ß—Ç–æ–±—ã –≤–∫–ª—é—á–∏—Ç—å –≤ –º–æ–¥–µ–ª—å —Ç–∞–∫–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ, —á—Ç–æ–±—ã –±—ã–ª–æ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –¥–∞–Ω–Ω—ã—Ö –ø–æ –∫–∞–∂–¥–æ–º—É –∏–∑ –Ω–∏—Ö, –∏ —á—Ç–æ–±—ã –¥–∞–Ω–Ω—ã–µ –±—ã–ª–∏ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —Ä–∞–≤–Ω–æ–º–µ—Ä–Ω–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –ø–æ –Ω–∏–º. –î–ª—è –Ω–∞—á–∞–ª–∞ –ø–æ—Å–º–æ—Ç—Ä–∏–º, –∫–∞–∫–∏–µ —Ç–∏–ø—ã —Å—Ç–æ–ª–±—Ü–æ–≤ –∏ –≤ –∫–∞–∫–æ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ —É –Ω–∞—Å –∏–º–µ—é—Ç—Å—è:

In [5]:
TrainingX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 11.3+ MB

–ö–∞–∫ –º—ã –≤–∏–¥–∏–º,  —Å—Ç—Ä–æ–∫–æ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Ç–∞–±–ª–∏—Ü–µ 30, —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã—Ö - 7, –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã—Ö - 3. –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∞–±–ª–∏—Ü—É, —Å–æ–¥–µ—Ä–∂–∞—â—É—é —Ç–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫–æ–≤—ã–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:

In [6]:
TrainingX.select_dtypes(include=['object'])

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,2011-03-14,Roman,Roman,none,Lake Nyasa,Mnyusi B,Iringa,Ludewa,Mundindi,True,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,2013-03-06,Grumeti,GRUMETI,Zahanati,Lake Victoria,Nyamara,Mara,Serengeti,Natta,NaN,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,2013-02-25,Lottery Club,World vision,Kwa Mahundi,Pangani,Majengo,Manyara,Simanjiro,Ngorika,True,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,2013-01-28,Unicef,UNICEF,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,Mahakamani,Mtwara,Nanyumbu,Nanyumbu,True,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,2011-07-13,Action In A,Artisan,Shuleni,Lake Victoria,Kyanyamisa,Kagera,Karagwe,Nyakasimbi,True,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,2013-05-03,Germany Republi,CES,Area Three Namba 27,Pangani,Kiduruni,Kilimanjaro,Hai,Masama Magharibi,True,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,2011-05-07,Cefa-njombe,Cefa,Kwa Yahona Kuvala,Rufiji,Igumbilo,Iringa,Njombe,Ikondo,True,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,2011-04-11,NaN,NaN,Mashine,Rufiji,Madungulu,Mbeya,Mbarali,Chimala,True,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,2011-03-08,Malec,Musa,Mshoro,Rufiji,Mwinyi,Dodoma,Chamwino,Mvumi Makulu,True,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,2011-03-23,World Bank,World,Kwa Mzee Lugawa,Wami / Ruvu,Kikatanyemba,Morogoro,Morogoro Rural,Ngerengere,True,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

## –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∞—è –æ—Ü–µ–Ω–∫–∞ –∫–∞—á–µ—Å—Ç–≤–∞ –¥–∞–Ω–Ω—ã—Ö
–î–ª—è –Ω–∞—á–∞–ª–∞ –ø–æ–ø—Ä–æ–±—É–µ–º –æ—Ü–µ–Ω–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–æ –¥–∞–Ω–Ω—ã—Ö, –ø–æ—Å—Ç—Ä–æ–∏–≤ –º–æ–¥–µ–ª—å –Ω–∞–ø—Ä—è–º—É—é. –û—Ü–µ–Ω–∏–º —Ç–æ—á–Ω–æ—Å—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è, —Ä–∞–∑–¥–µ–ª–∏–≤ –¥–∞–Ω–Ω—ã–µ –Ω–∞ –¥–≤–µ —á–∞—Å—Ç–∏: –Ω–∞ –æ–¥–Ω–æ–π –æ–±—É—á–∏–º –º–æ–¥–µ–ª—å, –ø–æ –≤—Ç–æ—Ä–æ–π –æ—Ü–µ–Ω–∏–º —Ç–æ—á–Ω–æ—Å—Ç—å.

–î–µ–ª–∏–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ –¥–≤–∞ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞:

In [57]:
TrainX1 = TrainingX[:29700]
TrainY1 = TrainingY[:29700]
TestX2 = TrainingX[29700:]
TestY2 = TrainingY[29700:]

–°–æ–∑–¥–∞—ë–º –æ–±—ä–µ–∫—Ç –º–æ–¥–µ–ª–∏:

In [58]:
model = GradientBoostingClassifier(
        n_estimators=500,
        max_depth=5,
        #subsample=0.5,
        max_features="auto"
        # random_state=seed
    )

–í–∫–ª—é—á–∞–µ–º –≤ –≤—ã–±–æ—Ä–∫—É –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã, –ø—Ä–∏–≤–æ–¥–∏–º—ã–µ –∫ float –Ω–∞–ø—Ä—è–º—É—é, –∏ –ø—Ä–∏–≤–æ–¥–∏–º —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:

In [46]:
TrainX1.dtypes == object

id                       False
amount_tsh               False
date_recorded             True
funder                    True
gps_height               False
installer                 True
longitude                False
latitude                 False
wpt_name                  True
num_private              False
basin                     True
subvillage                True
region                    True
region_code              False
district_code            False
lga                       True
ward                      True
population               False
public_meeting            True
recorded_by               True
scheme_management         True
scheme_name               True
permit                    True
construction_year        False
extraction_type           True
extraction_type_group     True
extraction_type_class     True
management                True
management_group          True
payment                   True
payment_type              True
water_quality             True
quality_group             True
quantity                  True
quantity_group            True
source                    True
source_type               True
source_class              True
waterpoint_type           True
waterpoint_type_group     True
dtype: bool

–í—Å–µ —Å—Ç–æ–ª–±—Ü—ã, —Ç–∏–ø–æ–º –∫–æ—Ç–æ—Ä—ã—Ö –ù–ï —è–≤–ª—è–µ—Ç—Å—è object, –º—ã –º–æ–∂–µ–º –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ —Ç–∏–ø—É float.

In [47]:
ctrainX = TrainX1[['id',
 'amount_tsh',
 'gps_height',
 'longitude',
 'latitude',
 'num_private',
 'region_code',
 'district_code',
 'population',
 'construction_year'
                  ]]
#ctrainX = ctrainX.values()
ctrainX = ctrainX.to_numpy()
ctrainX = ctrainX.astype(float)
ctrainX

array([[6.9572e+04, 6.0000e+03, 1.3900e+03, ..., 5.0000e+00, 1.0900e+02,
        1.9990e+03],
       [8.7760e+03, 0.0000e+00, 1.3990e+03, ..., 2.0000e+00, 2.8000e+02,
        2.0100e+03],
       [3.4310e+04, 2.5000e+01, 6.8600e+02, ..., 4.0000e+00, 2.5000e+02,
        2.0090e+03],
       ...,
       [7.2075e+04, 0.0000e+00, 1.1220e+03, ..., 2.0000e+00, 5.8000e+01,
        1.9730e+03],
       [6.0922e+04, 0.0000e+00, 0.0000e+00, ..., 4.0000e+00, 0.0000e+00,
        0.0000e+00],
       [5.6395e+04, 0.0000e+00, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [48]:
TrainY1.replace(to_replace="functional", value=0, inplace=True)
TrainY1.replace(to_replace="non functional", value=1, inplace=True)
TrainY1.replace(to_replace="functional needs repair", value=2, inplace=True)

ctrainY = TrainY1
ctrainY = ctrainY.to_numpy()
ctrainY = ctrainY[:, 1]
ctrainY = ctrainY.astype(float)
ctrainY

c:\python3\lib\site-packages\pandas\core\frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

array([0., 0., 0., ..., 1., 1., 1.])

In [49]:
ctestX = TestX2[['id',
 'amount_tsh',
 'gps_height',
 'longitude',
 'latitude',
 'num_private',
 'region_code',
 'district_code',
 'population',
 'construction_year'
                  ]]
ctestX = ctestX.to_numpy()
ctestX = ctestX.astype(float)

–°—Ç—Ä–æ–∏–º –º–æ–¥–µ–ª—å:

In [50]:
model.fit(ctrainX,ctrainY)

#predictions = model.predict_proba(testX)[:,1]
predictions = model.predict_proba(ctestX)
predictions

array([[0.60938355, 0.35436435, 0.0362521 ],
       [0.15140095, 0.80165922, 0.04693983],
       [0.5603961 , 0.33886379, 0.1007401 ],
       ...,
       [0.54472616, 0.20820183, 0.24707201],
       [0.4426586 , 0.50347244, 0.05386896],
       [0.42246983, 0.54443401, 0.03309616]])

–ú—ã –ø–æ–ª—É—á–∏–ª–∏ —Ç–∞–±–ª–∏—Ü—É –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–µ–π –∫–∞–∂–¥–æ–≥–æ –∏–∑ —Ç—Ä–µ—Ö —Å–æ—Å—Ç–æ—è–Ω–∏–π. –í—ã–±–µ—Ä–µ–º –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ –≤–µ—Ä–æ—è—Ç–Ω—ã–µ —Å–æ—Å—Ç–æ—è–Ω–∏—è:

In [51]:
answ = predictions[:, 0].astype(int)
for ii in range (0, len(predictions)):
    answ[ii] = predictions[ii].argmax();
answ

array([0, 1, 0, ..., 0, 1, 1])

–¢–µ–ø–µ—Ä—å –∑–∞–ø–∏—à–µ–º –∏—Ö –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∏ —Å—Ä–∞–≤–Ω–∏–º —Å –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏:

In [52]:
TestY = TestY2
TestY['status_group'] = answ
TestY

c:\python3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          id  status_group
29699  72779             0
29700  62962             1
29701  35938             0
29702   5107             0
29703  64811             0
...      ...           ...
59395  60739             0
59396  27263             0
59397  37057             0
59398  31282             1
59399  26348             1

[29701 rows x 2 columns]

In [53]:
TestY2

          id  status_group
29699  72779             0
29700  62962             1
29701  35938             0
29702   5107             0
29703  64811             0
...      ...           ...
59395  60739             0
59396  27263             0
59397  37057             0
59398  31282             1
59399  26348             1

[29701 rows x 2 columns]

In [54]:
TestY2.replace(to_replace="functional", value=0, inplace=True)
TestY2.replace(to_replace="non functional", value=1, inplace=True)
TestY2.replace(to_replace="functional needs repair", value=2, inplace=True)
TestY2

c:\python3\lib\site-packages\pandas\core\frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

          id  status_group
29699  72779             0
29700  62962             1
29701  35938             0
29702   5107             0
29703  64811             0
...      ...           ...
59395  60739             0
59396  27263             0
59397  37057             0
59398  31282             1
59399  26348             1

[29701 rows x 2 columns]

In [55]:
(TestY2['status_group'] == TestY['status_group']).sum()

29701

In [56]:
wrk = 0
dntwrk = 0
ndrpr = 0

answ = predictions[:,0].astype(int)

## –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö
–î–ª—è –Ω–∞—á–∞–ª–∞ –Ω–∞–º –Ω–∞–¥–æ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –µ—Å—Ç—å –ª–∏ –∑–∞–ø–∏—Å–∏ –æ–± –æ–¥–Ω–∏—Ö –∏ —Ç–µ—Ö –∂–µ –≤–æ–¥–æ–∫–∞—á–∫–∞—Ö –∏ –Ω–∞—Å–∫–æ–ª—å–∫–æ —Ä–∞–∑–ª–∏—á–∞—é—Ç—Å—è –¥–∞–Ω–Ω—ã–µ –ø–æ –Ω–∏–º. –£–Ω–∏–∫–∞–ª—å–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∏–∑ –≤–æ–¥–æ–∫–∞—á–µ–∫ —è–≤–ª—è—é—Ç—Å—è –∏—Ö GPS-–∫–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã. –û—Ü–µ–Ω–∏–º, –∫–∞–∫ –º–Ω–æ–≥–æ –≤ —Ç–∞–±–ª–∏—Ü–µ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –≤–æ–¥–æ–∫–∞—á–µ–∫ –ø–æ –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º:

In [ ]:
len(TrainingX['latitude'].unique())

In [ ]:
len(TrainingX['longitude'].unique())

In [ ]:
Train = TrainingX.loc[TrainingX['longitude'] != 0]
#TrainingX.groupby('latitude')['longitude']

Train[Train.duplicated(subset='longitude',keep=False)][Train.duplicated(subset='latitude',keep=False)]

–ö–∞–∫ –º—ã –≤–∏–¥–∏–º, –Ω–∞—à–ª–æ—Å—å 138 –≤–æ–¥–æ–∫–∞—á–µ–∫ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏ –Ω–µ–Ω—É–ª–µ–≤—ã–º–∏ –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏. –ú–Ω–æ–≥–∏–µ –∏–∑ –Ω–∏—Ö –±—ã–ª–∏ –ø—Ä–æ—Ñ–∏–Ω–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω—ã –∏–ª–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω—ã –æ–¥–Ω–∏–º–∏ –∏ —Ç–µ–º–∏ –∂–µ –ª–∏—Ü–∞–º–∏, —á—Ç–æ –º–æ–∂–µ—Ç —É–∫–∞–∑—ã–≤–∞—Ç—å –Ω–∞ —Ç–æ, —á—Ç–æ —ç—Ç–æ –¥–∞–Ω–Ω—ã–µ –æ–± –æ–¥–Ω–∏—Ö –∏ —Ç–µ—Ö –∂–µ –≤–æ–¥–æ–∫–∞—á–∫–∞—Ö. –ü—Ä–æ–≤–µ—Ä–∏–º –∏—Ö –Ω–∞ —Å–æ–≤–ø–∞–¥–µ–Ω–∏–µ –≥–æ–¥–æ–≤ –≤–≤–æ–¥–∞ –≤ —ç–∫—Å–ø–ª—É–∞—Ç–∞—Ü–∏—é:

In [ ]:
TrainYEAR = Train[Train.duplicated(subset='longitude',keep=False)][Train.duplicated(subset='latitude',keep=False)]
TrainYEAR[TrainYEAR.duplicated(subset='construction_year', keep = False)]

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è –¥–∞–Ω–Ω—ã–µ:

In [ ]:
TrainYEAR.loc[abs(TrainYEAR['longitude'] - 37.3) < 0.1]

26 —Å—Ç—Ä–æ–∫ —Å –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–º–∏—Å—è –¥–∞–Ω–Ω—ã–º–∏. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é –¥–æ–ª–≥–æ—Ç—ã:

In [ ]:
TrainYEARSORT = TrainYEAR.loc[abs(TrainYEAR['longitude'] - 37.3) < 0.1]
TrainYEARSORT.sort_values(by = 'longitude')

In [ ]:
–í–∏–¥–∏–º —Å–ª–µ–¥—É—é—â–µ–µ: 
    1. –£ –∫–∞–∂–¥–æ–π –∏–∑ –¥—É–±–ª–∏—Ä—É—é—â–∏—Ö—Å—è –≤–æ–¥–æ–∫–∞—á–µ–∫ –µ—Å—Ç—å –ø–æ 2 –∑–∞–ø–∏—Å–∏
    2. –î–∞—Ç—ã –ø–µ—Ä–≤—ã—Ö –∏ –≤—Ç–æ—Ä—ã—Ö –∑–∞–ø–∏—Å–µ–π —É –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–∞ –∏–∑ –Ω–∏—Ö —Å–æ–≤–ø–∞–¥–∞—é—Ç
    3. –î–∞—Ç—ã –∑–∞–ø–∏—Å–µ–π –≤—Å–µ—Ö –¥—É–±–ª–∏—Ä—É—é—â–∏—Ö—Å—è –≤–æ–¥–æ–∫–∞—á–µ–∫ –±–ª–∏–∑–∫–∏ –¥—Ä—É–≥ –∫ –¥—Ä—É–≥—É
    
–î–µ–ª–∞–µ–º –ø—Ä–µ–¥–ø–æ–ª–æ–∂–µ–Ω–∏—è:
    1. –°–±–æ—Ä–æ–º –¥–∞–Ω–Ω—ã—Ö –∑–∞–Ω–∏–º–∞–ª–∏—Å—å –¥–≤–µ –Ω–µ—Å–æ–æ–±—â—ë–Ω–Ω—ã–µ –≥—Ä—É–ø–ø—ã - –≤ —Ç–∞–∫–æ–º —Å–ª—É—á–∞–µ –º–æ–∂–Ω–æ –∏—Å–∫–ª—é—á–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –∏–∑ –≤—ã–±–æ—Ä–∫–∏ –ø—Ä–∏ —É—Å–ª–æ–≤–∏–∏
        –Ω–µ–≤–µ—Ä–Ω–æ—Å—Ç–∏ –Ω–∏–∂–µ—Å–ª–µ–¥—É—é—â–µ–≥–æ –ø—É–Ω–∫—Ç–∞.
    2. –ó–∞–ø–∏—Å–∏ —Å–¥–µ–ª–∞–Ω—ã –ø–æ –ø—Ä–∏—á–∏–Ω–µ –∏–∑–º–µ–Ω–µ–Ω–∏—è —Å–æ—Å—Ç–æ—è–Ω–∏—è –≤–æ–¥–æ–∫–∞—á–µ–∫ - –ø—Ä–æ–≤–µ—Ä—è–µ–º.

In [ ]:
–ò–∑–≤–ª–µ—á—ë–º –∏–∑ –¥–∞–Ω–Ω—ã—Ö –æ —Å–æ—Å—Ç–æ—è–Ω–∏–∏ –≤–æ–¥–æ–∫–∞—á–µ–∫ –¥–≤–µ —Å–ª—É—á–∞–π–Ω—ã–µ –∑–∞–ø–∏—Å–∏ –ø–æ–¥ –Ω–æ–º–µ—Ä–∞–º–∏, 
–ø–æ–¥ –∫–æ—Ç–æ—Ä—ã–º–∏ –æ–Ω–∏ –¥—É–±–ª–∏—Ä—É—é—Ç—Å—è –≤ –¥–∞–Ω–Ω—ã—Ö –æ–± –∏—Ö —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞—Ö:

In [ ]:
#NewTrain = pd.merge(TrainYEARSORT, TrainingY, on = 'id','status_group', how = 'right')
#NewTrain

val = TrainYEARSORT
val1 = TrainingY
val1 = val1.merge(val, on = 'id', how = 'right')
val1.sort_values(by = 'latitude')

–°–ª—É—á–∞–π–Ω–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞ –ø–æ–∫–∞–∑–∞–ª–∞, —á—Ç–æ —É—Ç–≤–µ—Ä–∂–¥–µ–Ω–∏–µ ‚Ññ2 –Ω–µ–≤–µ—Ä–Ω–æ. –î–µ–ª–∞–µ–º –≤—ã–≤–æ–¥, —á—Ç–æ –¥—É–±–ª–∏—Ä—É—é—â–∏–µ—Å—è –¥–∞–Ω–Ω—ã–µ —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –Ω–µ –¥–∞—é—Ç –Ω–∏–∫–∞–∫–æ–π –ø–æ–ª–µ–∑–Ω–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏, –ø–æ—ç—Ç–æ–º—É –∏—Ö –º–æ–∂–Ω (–∏ –¥–∞–∂–µ –Ω—É–∂–Ω–æ) —É–¥–∞–ª–∏—Ç—å. –û–¥–Ω–∞–∫–æ –µ—Å—Ç—å –ø—Ä–æ–±–ª–µ–º–∞: –Ω–µ –≤–æ –≤—Å–µ—Ö —Å—Ç—Ä–æ—á–∫–∞—Ö –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –ø–æ–ª—è. –ù–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ª–∏–±–æ –∏—Ö –¥–æ–∑–∞–ø–æ–ª–Ω–∏—Ç—å, –ª–∏–±–æ —É–¥–∞–ª–∏—Ç—å –∑–∞–ø–∏—Å–∏ –ø–æ —Ç–µ–º —Å—Ç–æ–ª–±—Ü–∞–º, –∫–æ—Ç–æ—Ä—ã–µ –∑–∞–ø–æ–ª–Ω–µ–Ω—ã —É –≤—Å–µ—Ö.

## –î–∞—Ç–∞ –≤–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö
–û—Ü–µ–Ω–∏–º —Ä–∞–∑–±—Ä–æ—Å –¥–∞—Ç –≤–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö. –ï—Å–ª–∏ –≤–≤–æ–¥ –±—ã–ª —Å–æ–≤–µ—Ä—à—ë–Ω —Å–ª–∏—à–∫–æ–º –¥–∞–≤–Ω–æ –∏–ª–∏ —Å–ª–∏—à–∫–æ–º –Ω–µ–¥–∞–≤–Ω–æ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–∞ –¥–∞—Ç, —Ç–æ —Ç–∞–∫–∞—è –¥–∞—Ç–∞ –º–æ–∂–µ—Ç –Ω–µ–≥–∞—Ç–∏–≤–Ω–æ —Å–∫–∞–∑–∞—Ç—å—Å—è –Ω–∞ —Ç–æ—á–Ω–æ—Å—Ç–∏ –ø—Ä–æ–≥–Ω–æ–∑–∞, —Ç.–∫. –µ—Å–ª–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä, –∑–∞–ø–∏—Å—å –±—ã–ª–∞ —Å–æ–≤–µ—Ä—à–µ–Ω–∞ –∑–∞ 40